@model SGCFIEE.Models.CtMovilidades;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Home/Principal.cshtml";
    var modelo = (IEnumerable<TablaSugerenciasBuzon>)ViewData["lista"];
}
<!DOCTYPE html>
<html>
<div class="profile-content">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="card">
                <div class="card-topline-green">
                    <div class="card-head">
                        <header>Sugerencias sobre academicos</header>
                        <div class="tools">
                            <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                            <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                            <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                        </div>
                    </div>

                </div>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane fontawesome-demo active show" id="tab1">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-body ">
                                    <div class="row p-b-20">
                                        <div class="col-md-12 col-sm-12 col-12">
                                            <form asp-action="CargarTabla" asp-antiforgery="true">
                                                <div class="form-group">
                                                    <div class="col-md-4 col-sm-4">
                                                        <label asp-for="TipoMovilidades">Elija el tipo de sugerencias que desee ver:</label>
                                                        <select asp-for="TipoMovilidades" id="tipo" class="form-control">
                                                            <option value="0">Seleccionar...</option>
                                                            <option value="1">Sugerencias en infrestructura</option>
                                                            <option value="2">Sugerencias en académicos</option>
                                                        </select>
                                                        <br />
                                                        <button id="BuscarMov" type="submit" class="btn btn-success btn-sm m-b-10">
                                                            Buscar
                                                        </button>
                                                    </div>
                                                    
                                                </div>
                                            </form>
                                            <br />
                                        </div>
                                    </div>
                                    <div class="table-scrollable">
                                        <table class="table table-striped table-bordered table-hover table-checkable order-column" style="width: 100%" id="example1">
                                            <thead>
                                                <tr>
                                                    <th hidden></th>
                                                    <th class="center"> Nombre del académico</th>
                                                    <th class="center"> Nombre del alumno</th>
                                                    <th class="center"> Periodo</th>
                                                    <th class="center"> Propuesta</th>
                                                    <th class="center"> Sugerencia</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in modelo)
                                                {
                                                    var nameAca = item.nombreMaestro + " " + item.apePat + " " + item.apeMaP;
                                                    var name = item.nombreAlu + " " + item.apeAluP + " " + item.apeAluM;
                                                    <tr class="odd gradeX">
                                                        <td hidden></td>
                                                        <td class="center">@Html.DisplayFor(modelItem => nameAca)</td>
                                                        <td class="center">@Html.DisplayFor(modelItem => name)</td>
                                                        <td class="center">@Html.DisplayFor(modelItem => item.nomPeri)</td>
                                                        <td class="center">@Html.DisplayFor(modelItem => item.propuesta)</td>
                                                        <td class="center">@Html.DisplayFor(modelItem => item.sugerencia)</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
