@model SGCFIEE.Models.ProgramaEducativo
@{
    ViewData["Title"] = "Detalles Programa";
    Layout = "~/Views/Home/Principal.cshtml";
}

<!DOCTYPE html>

<html>
<div class="profile-content">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="card">
                <div class="card-topline-green"></div>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane fontawesome-demo active show" id="tab1">
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="card-head" id="idDatosPersonales">
                                    <header>Información del programa</header>
                                </div>
                                <div class="card-body " id="bar-parent2">
                                    <div class="row">
                                        <div class="col-md-6 col-6 b-r">
                                            <strong>Nombre del programa</strong>
                                            <br>
                                            <p id="" class="text-muted">@Html.DisplayFor(model => model.Nombre)</p>
                                            <br>
                                        </div>
                                        <div class="col-md-6 col-6 b-r">
                                            <strong>Creditos</strong>
                                            <br>
                                            <p id="" class="text-muted">@Html.DisplayFor(model => model.Creditos)</p>
                                            <br>
                                        </div>
                                        <div class="col-md-6 col-6 b-r">
                                            <strong>Clave del programa</strong>
                                            <br>
                                            <p id="" class="text-muted">@Html.DisplayFor(model => model.ClvPrograma)</p>
                                            <br>
                                        </div>
                                        <div class="col-md-6 col-6">
                                            <strong>Facultad</strong>
                                            <br>
                                            <p id="" class="text-muted">@Html.DisplayFor(model => model.Facultad)</p>
                                            <br>
                                        </div>
                                        <div class="col-md-6 col-6">
                                            <strong>Campus</strong>
                                            <br>
                                            <p id="" class="text-muted">@Html.DisplayFor(model => model.Campus)</p>
                                            <br>
                                        </div>
                                        <div class="col-md-6 col-6">
                                            <strong>Nivel</strong>
                                            <br>
                                            <p id="" class="text-muted">@Html.DisplayFor(model => model.Nivel)</p>
                                        </div>
                                        <div class="col-md-6 col-6">
                                            <strong>Creditos min por periodo</strong>
                                            <br>
                                            <p id="" class="text-muted">@Html.DisplayFor(model => model.CreditosMinXp)</p>
                                            <br>
                                        </div>
                                        <div class="col-md-6 col-6">
                                            <strong>Creditos max por periodo</strong>
                                            <br>
                                            <p id="" class="text-muted">@Html.DisplayFor(model => model.CreditosMaxXp)</p>
                                            <br>
                                        </div>
                                        <div class="col-md-6 col-6">
                                            <strong>Área</strong>
                                            <br>
                                            <p id="" class="text-muted">@Html.DisplayFor(model => model.Area)</p>
                                            <br>
                                        </div>
                                    </div>
                                    <a asp-controller="EstudiantesComplementaria" asp-action="MostrarProgramas" class="btn btn-success btn-sm m-b-10">
                                        Regresar a tabla
                                    </a>
                                    
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
