@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Home/Principal.cshtml";
    var eep = (IEnumerable<pExperienciaEduPeriodo>)ViewData["EEP"];
}

<script src="~/assets/js/pages/table/table_data.js"></script>


<!DOCTYPE html>
<html lang="en">
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="card card-box">
            <div class="card-topline-green card-head">
                <header>EXPERIENCIAS EDUCATIVAS</header>
            </div>
            <div class="white-box">
                <div class="p-rl-20">
                    <ul class="nav customtab nav-tabs" role="tablist">
                        <li class="nav-item"><a asp-controller="AcademicosExperienciaEducativa" asp-action="Index" class="nav-link" >Experiencias educativas de la UV</a></li>
                        <li class="nav-item"><a class="nav-link active" >Experiencias educativas externas de la UV</a></li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab2">
                        <div id="tabla_eeeuv">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card-body ">
                                        <div class="row p-b-20">
                                            <div class="col-md-6 col-sm-6 col-6">
                                                <div class="btn-group">
                                                    <a id="agregar_EEExterna" asp-controller="AcademicosExperienciaEducativa" asp-action="CrearEEEUV" class="btn btn-success btn-sm m-b-10">
                                                        Agregar <i class="fa fa-plus" style="color:white"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="table-scrollable">
                                            <table class="table table-striped table-bordered table-hover table-checkable order-column" style="width: 100%" id="tabla_EEExterna">
                                                <thead>
                                                    <tr>
                                                        <th hidden></th>
                                                        <th class="center"> Número de personal </th>
                                                        <th class="center"> Nombre del académico</th>
                                                        <th class="center"> Institución nivel superior </th>
                                                        <th class="center"> Nombre de la EE </th>
                                                        <th class="center"> Periodo </th>
                                                        <th class="center"> Acción </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in eep)
                                                    {
                                                    <tr class="odd gradeX">
                                                        <td hidden></td>
                                                        <td>@Html.DisplayFor(modelItem => item.Npersonal)</td>
                                                        <td>@Html.DisplayFor(modelItem => item.academico)</td>
                                                        <td>@Html.DisplayFor(modelItem => item.institucion)</td>
                                                        <td>@Html.DisplayFor(modelItem => item.EE)</td>
                                                        <td>@Html.DisplayFor(modelItem => item.periodo)</td>
                                                        <td class="center">
                                                            <a asp-route-id="@item.IdExperienciaEducativaPeriodo" asp-controller="AcademicosExperienciaEducativa" asp-action="EditarEEEUV" title="Editar" class="btn btn-primary btn-xs ">
                                                                <i class="fa fa-pencil"></i>
                                                            </a>
                                                            <a data-value="@item.IdExperienciaEducativaPeriodo" data-controlador="AcademicosExperienciaEducativa" data-accion="EliminarEEEUV" data-regreso="IndexEEEUV" name="eliminardato" class="btn btn-danger btn-xs" title="Eliminar">
                                                                <i class="fa fa-trash-o "></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
