@model SGCFIEE.Models.JuradoExamenOposicion;
@{
    ViewData["Title"] = "EditarJurOposion";
    Layout = "~/Views/Home/Principal.cshtml";
    var acad = (IEnumerable<Academicos>)ViewData["academicos"];
    var Ee = (IEnumerable<ExperienciaEducativa>)ViewData["ExperienciasE"];
}
<!DOCTYPE html>

<html>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="card card-box">
                <div class="card-topline-green card-head">
                    <header>JURADO DE EXAMEN DE OPOSICIÓN</header>        
                </div>
                <div class="card-body " id="bar-parent2">
                    <form asp-controller="AcademicosComisiones" asp-action="ActualizarJurOposicion" method="post" enctype="multipart/form-data"> 
                        <div class="row">
                            <div class="col-md-6 col-md-6">
                                <input type="hidden" asp-for="IdJexposicion"/>
                               
                                <div class="form-group">
                                    Notas de clase:<br>
                                    <input asp-for="TipoExamen" type="radio" value="1" /> EE<br>
                                    <input asp-for="TipoExamen" type="radio" value="0" /> TC
                                </div>
                                
                            </div>
                            <div class="col-md-6 col-md-6">
                                <div class="form-group">
                                    <label>Nombre de la EE</label>
                                    <select asp-for="IdEe" class="form-control">
                                        @foreach (var item in Ee)
                                        {
                                            @if (item.IdExperienciaEducativa != Model.IdEe)
                                            {
                                                <option value="@item.IdExperienciaEducativa">@Html.DisplayFor(modelItem => item.Nombre)</option>
                                            }
                                            else
                                            {
                                                <option selected value="@item.IdExperienciaEducativa">@Html.DisplayFor(modelItem => item.Nombre)</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Fecha</label>
                                    <input asp-for="Fecha" type="date" class="form-control" placeholder="mm/dd/aa" required="required" value="@ViewData["fecha"]">
                                    <span asp-validation-for="Fecha" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label>Actualizar evidencia:  @Model.Archivo</label><br>
                                    <input type="file" class="default" id="archivo" name="file">
                                </div>
                                <br>
                                <button type="submit" class="btn btn-success btn-sm m-b-10" name="Guardar" style="float:right">
                                    Guardar
                                </button>
                                <a asp-controller="AcademicosComisiones" asp-action="IndexJurOposicion" class="btn btn-default btn-sm m-b-10" style="float:right">
                                Cancelar
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</html>
