@model SGCFIEE.Models.JuradoExperienciaRecepcional;
@{
    ViewData["Title"] = "EditarJurExperiencia";
    Layout = "~/Views/Home/Principal.cshtml";
    var acad = (IEnumerable<Academicos>)ViewData["academicos"];
    var datosGene = (IEnumerable<DatosPersonales>)ViewData["datosGene"];
}
<!DOCTYPE html>

<html>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="card card-box">
                <div class="card-topline-green card-head">
                    <header>JURADO DE EXPERIENCIA RECEPCIONAL</header>        
                </div>
                <div class="card-body " id="bar-parent2">
                    <form asp-controller="AcademicosComisiones" asp-action="ActualizarJurExperiencia" method="post" enctype="multipart/form-data"> 
                        <div class="row">
                            <div class="col-md-6 col-md-6">
                                <input type="hidden" asp-for="IdJer"/>
                                <input type="hidden" asp-for="JuradoPrejurado" value="1"/>
                                
                                <div class="form-group">
                                    <label>Alumno</label>
                                    <select asp-for="IdTr" class="form-control">
                                        @foreach (var item in datosGene)
                                        {
                                            <option value="@item.IdDatosPersonales">@Html.DisplayFor(modelItem => item.Nombre) @Html.DisplayFor(modelItem => item.ApellidoPaterno) @Html.DisplayFor(modelItem => item.ApellidoMaterno)</option>
                                        }
                                    </select>
                                </div>
                                
                            </div>
                            <div class="col-md-6 col-md-6">
                                
                                <div class="form-group">
                                    <label>Actualizar evidencia:  @Model.Archivo</label><br>
                                    <input type="file" class="default" id="archivo" name="file">
                                </div>
                                <br>
                                <button type="submit" class="btn btn-success btn-sm m-b-10" name="Guardar" style="float:right">
                                    Guardar
                                </button>
                                <a asp-controller="AcademicosComisiones" asp-action="IndexJurExperiencia" class="btn btn-default btn-sm m-b-10" style="float:right">
                                Cancelar
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</html>
