@model SGCFIEE.Models.RediseñoPlanEstudios;
@{
    ViewData["Title"] = "EditarPartRedisenio";
    Layout = "~/Views/Home/Principal.cshtml";
    var acad = (IEnumerable<Academicos>)ViewData["academicos"];
    var programa = (IEnumerable<ProgramaEducativo>)ViewData["programa"];
    var tipo = (int)ViewData["tipo"];
}
<!DOCTYPE html>

<html>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="card card-box">
                <div class="card-topline-green card-head">
                    <header>PARTICIPACIÓN ACTIVA EN EL REDISEÑO O ACTUALIZACIÓN DEL PLAN DE ESTUDIOS</header>        
                </div>
                <div class="card-body " id="bar-parent2">
                    <form asp-controller="AcademicosComisiones" asp-action="ActualizarPartRedisenio" method="post" enctype="multipart/form-data"> 
                        <div class="row">
                            <div class="col-md-6 col-md-6">
                                <input type="hidden" asp-for="IdRediseñoActualizacionEstudios"/>
                                @if (tipo == 1)
                                {
                                <div class="form-group">
                                    <label>Académico</label>
                                    <select asp-for="IdAcademico" class="form-control">
                                        @foreach (var item in acad)
                                        {
                                            @if (item.IdAcademicos != Model.IdAcademico)
                                            {
                                                <option value="@item.IdAcademicos">@Html.DisplayFor(modelItem => item.Nombre) @Html.DisplayFor(modelItem => item.ApellidoPaterno) @Html.DisplayFor(modelItem => item.ApellidoMaterno)</option>
                                            }
                                            else
                                            {
                                                <option selected value="@item.IdAcademicos">@Html.DisplayFor(modelItem => item.Nombre) @Html.DisplayFor(modelItem => item.ApellidoPaterno) @Html.DisplayFor(modelItem => item.ApellidoMaterno)</option>
                                            }
                                        }
                                    </select>
                                </div>
                                }
                                <div class="form-group">
                                    <label>Área académica</label>
                                    <input asp-for="Area" type="text" class="form-control" placeholder="Ingresar..." required="required" value="@Model.Area">
                                    <span asp-validation-for="Area" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6 col-md-6">
                                <div class="form-group">
                                    <label>Programa educativo</label>
                                    <select asp-for="IdPrograma" class="form-control">
                                        @foreach (var item in programa)
                                        {
                                            @if (item.IdProgramaEducativo != Model.IdPrograma)
                                            {
                                                <option value="@item.IdProgramaEducativo">@Html.DisplayFor(modelItem => item.Nombre)</option>
                                            }
                                            else
                                            {
                                                <option selected value="@item.IdProgramaEducativo">@Html.DisplayFor(modelItem => item.Nombre)</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="form-group">
                                    Tipo de participación:<br>
                                    <input asp-for="CoordinadorColaborador" type="radio" value="1" /> Coordinador<br>
                                    <input asp-for="CoordinadorColaborador" type="radio" value="0" /> Colaborador
                                </div>
                                <div class="form-group">
                                    <label>Actualizar evidencia:  @Model.Archivo</label><br>
                                    <input type="file" class="default" id="archivo" name="file">
                                </div>
                                <br>
                                <button type="submit" class="btn btn-success btn-sm m-b-10" name="Guardar" style="float:right">
                                    Guardar
                                </button>
                                <a asp-controller="AcademicosComisiones" asp-action="IndexPartRedisenio" class="btn btn-default btn-sm m-b-10" style="float:right">
                                Cancelar
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</html>
