@model  IEnumerable<SGCFIEE.Models.TablaRedisenio> 
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Home/Principal.cshtml";
}

<!DOCTYPE html>
<html>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="card card-box">
                <div class="card-topline-green card-head">
                    <header>COMISIONES</header>
                </div>
                <div class="white-box">
                    <!-- Nav tabs -->
                    <div class="p-rl-20">
                        <ul class="nav customtab nav-tabs" role="tablist">
                            <li class="nav-item center"><a asp-controller="AcademicosComisiones" asp-action="IndexJurOposicion" class="nav-link">Jurado de<br>Ex. Oposición</a></li>
                            <li class="nav-item center"><a asp-controller="AcademicosComisiones" asp-action="IndexJurExperiencia" class="nav-link">Jurado de experiencia<br>recepcional</a></li>
                            <li class="nav-item center"><a asp-controller="AcademicosComisiones" asp-action="IndexPreJurExperiencia" class="nav-link">Prejurado de experiencia<br>recepcional </a></li>
                            <li class="nav-item center"><a asp-controller="AcademicosComisiones" asp-action="IndexPLADEA" class="nav-link">Participación en el<br>PLADEA </a></li>
                            <li class="nav-item center"><a asp-controller="AcademicosComisiones" asp-action="IndexPartRedisenio" class="nav-link active">Participación activa en el rediseño o actualización<br>del plan de estudios</a></li>
                        </ul>
                    </div>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        
                        <div class="tab-pane active" id="tab5">            
                            <div id="Participación_rediseño">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card-body ">
                                            <div class="row p-b-20">
                                                <div class="col-md-6 col-sm-6 col-6">
                                                    <div class="btn-group">
                                                        <a asp-controller="AcademicosComisiones" asp-action="CrearPartRedisenio" class="btn btn-success btn-sm m-b-10">
                                                            Agregar <i class="fa fa-plus" style="color:white"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="table-scrollable">
                                                <table class="table table-striped table-bordered table-hover table-checkable order-column"  style="width: 100%" id="TablaPartRedisenio" >
                                                    <thead>
                                                        <tr>
                                                            <th class="center"> Número de personal</th>
                                                            <th class="center"> Nombre<br>del<br>académico</th>
                                                            <th class="center"> Área académica</th>
                                                            <th class="center"> Entidad académica</th>
                                                            <th class="center"> Programa educativo</th>
                                                            <th class="center"> Tipo de participación</th>
                                                            <th class="center"> Evidencia</th>
                                                            <th class="center"> Acción</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var item in Model)
                                                        {
                                                            <tr class="odd gradeX">
                                                                <td>@Html.DisplayFor(modelItem => item.NumPersonal)</td>
                                                                <td>@Html.DisplayFor(modelItem => item.Nombre) @Html.DisplayFor(modelItem => item.ApellidoPaterno) @Html.DisplayFor(modelItem => item.ApellidoMaterno)</td>
                                                                <td>@Html.DisplayFor(modelItem => item.Area)</td>
                                                                <td>Universidad Veracruzana</td>
                                                                <td>@Html.DisplayFor(modelItem => item.NombrePrograma)</td>
                                                                <td class="center"> 
                                                                    @if (item.Tipo == 1)
                                                                    { <div>Coodinador</div>  }
                                                                    @if (item.Tipo == 0)
                                                                    {<div>Colaborador</div>}
                                                                </td>
                                                                <td class="center">
                                                                     <a asp-route-filename="@item.Archivo" asp-controller="AcademicosComisiones" asp-action="DescargarPartRedesenio" class="btn btn-primary btn-xs" title="Descargar evidencia">
                                                                        <i class="fa fa-download"></i>
                                                                    </a>
                                                                </td>
                                                                <td class="center">
                                                                    <a asp-route-id="@item.IdPlan" asp-controller="AcademicosComisiones" asp-action="EditarPartRedisenio" class="btn btn-primary btn-xs" title="Editar">
                                                                        <i class="fa fa-pencil"></i>
                                                                    </a>
                                                                    <a data-value="@item.IdPlan" data-controlador="AcademicosComisiones" data-accion="EliminarPartRedesenio" data-regreso="IndexPartRedisenio" name="eliminardato" class="btn btn-danger btn-xs" title="Eliminar">
                                                                        <i class="fa fa-trash-o "></i>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>
</html>

<script src="~/assets/js/pages/table/table_data.js"></script>