@model SGCFIEE.Models.Academicos;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Home/Principal.cshtml";
    var aca = (IEnumerable<Academicos>)ViewData["academicos"];
    var tutoI = (IEnumerable<pAcademicosAlumnos>)ViewData["tutoI"];
    var tutoE = (IEnumerable<TutoradosExternos>)ViewData["tutoE"];
}

<!DOCTYPE html>
<html lang="en">
<div class="row">
    <div class="col-md-12">
        <div class="card card-topline-green">
            <div class="card-head">
                <header>TUTORADOS</header>
                <div class="tools">
                    <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                    <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                    <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                </div>
            </div>
            <div class="card-body ">
                <div class="row p-b-20">
                    <div class="col-md-6 col-sm-6 col-6">
                        <div class="btn-group">
                            <a id="agregar" asp-controller="AcademicosTutoria" asp-action="Agregar" class="btn btn-success btn-sm m-b-10">
                                Agregar <i class="fa fa-plus" style="color:white"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <form asp-action="IdIndex" asp-antiforgery="true">
                        <div class="form-group">
                            
                                <label>Académico</label>
                                <select class="form-control" asp-for="IdAcademicos" id="academicos">
                                    @foreach (var item in aca)
                                    {
                                        <option value="@item.IdAcademicos">@Html.DisplayFor(modelItem => item.Nombre) @Html.DisplayFor(modelItem => item.ApellidoPaterno) @Html.DisplayFor(modelItem => item.ApellidoMaterno)</option>
                                    }
                                </select>
                            <br />
                            <button id="BuscarMov" type="submit" class="btn btn-success btn-sm m-b-10">
                                Buscar
                            </button>
                        </div>
                    </form>
                </div>
                <div class="table-scrollable">
                    <table class="table table-striped table-bordered table-hover table-checkable order-column" style="width: 100%" id="tabla_tutoria">
                        <thead>
                            <tr>
                                <th hidden></th>
                                <th class="center"> Matricula </th>
                                <th class="center"> Nombre del alumno</th>
                                <th class="center"> Miembro </th>
                                <th class="center"> Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in tutoI)
                            {
                                <tr class="odd gradeX">
                                    <td hidden></td>
                                    <td>@Html.DisplayFor(modelItem => item.matricula)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Nombre) @Html.DisplayFor(modelItem => item.A_paterno) @Html.DisplayFor(modelItem => item.A_materno)</td>
                                    <td>Interno</td>
                                    <td class="center">
                                        <a asp-route-id="@item.IdAlumnos" asp-controller="AcademicosTutoria" asp-action="EditarI" class="btn btn-primary btn-xs" title="Editar">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                        <a data-value="@item.IdAlumnos" data-controlador="AcademicosTutoria" data-accion="EliminarI" data-regreso="Index" name="eliminardato" class="btn btn-danger btn-xs" title="Eliminar">
                                            <i class="fa fa-trash-o "></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                            @foreach (var item in tutoE)
                            {
                                <tr class="odd gradeX">
                                    <td hidden></td>
                                    <td>@Html.DisplayFor(modelItem => item.Matricula)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                                    <td>Externo</td>
                                    <td class="center">
                                        <a asp-route-id="@item.IdTutoradosExternos" asp-controller="AcademicosTutoria" asp-action="EditarE" class="btn btn-primary btn-xs " title="Editar">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                        <a data-value="@item.IdTutoradosExternos" data-controlador="AcademicosTutoria" data-accion="EliminarE" data-regreso="Index" name="eliminardato" class="btn btn-danger btn-xs" title="Eliminar">
                                            <i class="fa fa-trash-o "></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</html>



