@model SGCFIEE.Models.CompletoAlumnos
@{
    ViewData["Title"] = "Detalles";
    Layout = "~/Views/Home/Principal.cshtml";
    var y = (IEnumerable<TipoPeriodo>)ViewData["periodo"];
    var movilidad = (IEnumerable<AlumnoMovilidad>)ViewData["movilidad"];
    var tipo = (int)ViewData["tipo"];
    var alumno = (int)ViewData["alumno"];
}

<!DOCTYPE html>

<html>
<div class="profile-content">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="card">
                <div class="card-topline-green">

                    <div class="p-rl-20">
                        <ul class="nav customtab nav-tabs" role="tablist">
                            <li class="nav-item"><a asp-route-id="@alumno" asp-controller="EstudiantesInformacion" asp-action="Detalles" class="nav-link ">Información general</a></li>
                            <li class="nav-item"><a asp-route-id="@alumno" asp-controller="EstudiantesInformacion" asp-action="DetallesInfoAcademica" class="nav-link " >Información académica</a></li>
                            <li class="nav-item"><a asp-route-id="@alumno" asp-controller="EstudiantesInformacion" asp-action="DetallesBoleta" class="nav-link" >Boleta</a></li>
                            <li class="nav-item"><a asp-route-id="@alumno" asp-controller="EstudiantesInformacion" asp-action="DetallesPafis" class="nav-link" >PAFIs</a></li>
                            <li class="nav-item"><a asp-route-id="@alumno" asp-controller="EstudiantesInformacion" asp-action="DetallesExamen" class="nav-link" >Examen ingreso e interno</a></li>
                            <li class="nav-item"><a asp-route-id="@alumno" asp-controller="EstudiantesInformacion" asp-action="DetallesEventos" class="nav-link" >Participación en eventos</a></li>
                            <li class="nav-item"><a asp-route-id="@alumno" asp-controller="EstudiantesInformacion" asp-action="DetallesMovilidad" class="nav-link active" >Información movilidad</a></li>
                            <li class="nav-item"><a asp-route-id="@alumno" asp-controller="EstudiantesInformacion" asp-action="DetallesInstancias" class="nav-link" >Instancias finales</a></li>
                        </ul>
                    </div>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab7">
                            <div id="movialumno">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">

                                        <div class="card-body " id="bar-parent2">
                                            <div class="col-md-3 col-sm-3">

                                                <label>Seleccione un periodo</label>
                                                <select id="PeriodoMovi" class="form-control">
                                                    @foreach (var item in y)
                                                    {
                                                        <option value="@item.IdPeriodo">@Html.DisplayFor(modelItem => item.Nombre) </option>
                                                    }
                                                </select>
                                            </div> <br> <br>
                                            <div class="row">
                                                @foreach (var item in movilidad)
                                                {
                                                <div class="col-md-4 col-4 b-r" name="movilidad-@item.idperiodo">
                                                    <a data-controlador="EstudiantesInformacion" data-accion="Eliminar" name="laeliminacion" class="btn btn-danger btn-xs eliminar" title="Eliminar" style="float:right">
                                                        <i class="fa fa-trash-o "></i>
                                                    </a>
                                                    <a asp-controller="EstudiantesInformacion" asp-action="Editar" class="btn btn-primary btn-xs editar" title="Editar" style="float:right">
                                                        <i class="fa fa-pencil"></i>
                                                    </a>
                                                    <strong>Información</strong> <hr />
                                                    @if (item.tipomovi == 1)
                                                    {
                                                        <p class="text-muted">Tipo movilidad: Nacional</p>
                                                    }
                                                    @if (item.tipomovi == 2)
                                                    {
                                                        <p class="text-muted">Tipo movilidad: Internacional</p>
                                                    }
                                                    <p id="" class="text-muted">Pais destino:   @Html.DisplayFor(modelItem => item.paisdestino) </p>
                                                    <p id="" class="text-muted">Entidad destino:    @Html.DisplayFor(modelItem => item.entidaddestino)</p>
                                                    <p id="" class="text-muted">Escuela destino:    @Html.DisplayFor(modelItem => item.escueladestino)</p>
                                                    <p id="" class="text-muted">TIempo permanencia: @Html.DisplayFor(modelItem => item.tiempoperma)</p>
                                                </div>
                                                }
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        @if (tipo == 1)
                        {
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <div class="card-body">
                                        <a asp-controller="EstudiantesInformacion" asp-action="Index" class="btn btn-success btn-sm m-b-10" style="float:right">
                                            Regresar a tabla
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
