@model SGCFIEE.Models.CompletoAlumnos
@{
    ViewData["Title"] = "Detalles";
    Layout = "~/Views/Home/Principal.cshtml";
    var tipo = (int)ViewData["tipo"];
    var alumno = (int)ViewData["alumno"];
    var fecha = (string)ViewData["fecha"];
}

<!DOCTYPE html>

<html>
<div class="profile-content">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="card">
                <div class="card-topline-green">

                    <div class="p-rl-20">
                        <ul class="nav customtab nav-tabs" role="tablist">
                            
                            <li class="nav-item"><a asp-route-id="@alumno" asp-controller="EstudiantesInformacion" asp-action="Detalles" class="nav-link active">Información general</a></li>
                            <li class="nav-item"><a asp-route-id="@alumno" asp-controller="EstudiantesInformacion" asp-action="DetallesInfoAcademica" class="nav-link" >Información académica</a></li>
                            <li class="nav-item"><a asp-route-id="@alumno" asp-controller="EstudiantesInformacion" asp-action="DetallesBoleta" class="nav-link" >Boleta</a></li>
                            <li class="nav-item"><a asp-route-id="@alumno" asp-controller="EstudiantesInformacion" asp-action="DetallesPafis" class="nav-link" >PAFIs</a></li>
                            <li class="nav-item"><a asp-route-id="@alumno" asp-controller="EstudiantesInformacion" asp-action="DetallesExamen" class="nav-link" >Examen ingreso e interno</a></li>
                            <li class="nav-item"><a asp-route-id="@alumno" asp-controller="EstudiantesInformacion" asp-action="DetallesEventos" class="nav-link" >Participación en eventos</a></li>
                            <li class="nav-item"><a asp-route-id="@alumno" asp-controller="EstudiantesInformacion" asp-action="DetallesMovilidad" class="nav-link" >Información movilidad</a></li>
                            <li class="nav-item"><a asp-route-id="@alumno" asp-controller="EstudiantesInformacion" asp-action="DetallesInstancias" class="nav-link" >Instancias finales</a></li>
                        </ul>
                    </div>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane fontawesome-demo active show" id="tab1">
                            <div class="row">
                                <div class="col-md-12 col-sm-12">

                                    <div class="card-body" id="bar-parent2">
                                        <div class="row">
                                            <div class="col-md-6 col-6 b-r">
                                                <strong>Nombre</strong>
                                                <br>
                                                <p id="Nombre" class="text-muted">@Html.DisplayFor(model => model.Nombre)</p>
                                                <br>
                                            </div>
                                            <div class="col-md-6 col-6 b-r">
                                                <strong>A. Paterno</strong>
                                                <br>
                                                <p id="A_paterno" class="text-muted">@Html.DisplayFor(model => model.ApellidoPaterno)</p>
                                                <br>
                                            </div>
                                            <div class="col-md-6 col-6 b-r">
                                                <strong>A. Materno</strong>
                                                <br>
                                                <p id="A_materno" class="text-muted">@Html.DisplayFor(model => model.ApellidoMaterno)</p>
                                                <br>
                                            </div>
                                            <div class="col-md-6 col-6">
                                                <strong>Correo</strong>
                                                <br>
                                                <p id="email" class="text-muted">@Html.DisplayFor(model => model.Correo)</p>
                                                <br>
                                            </div>
                                            <div class="col-md-6 col-6">
                                                <strong>Fecha de nacimiento (mm/dd/aa)</strong>
                                                <br>
                                                <p id="fecha" class="text-muted">@fecha</p>
                                                <br>
                                            </div>
                                            <div class="col-md-6 col-6">
                                                <strong>Nacionalidad</strong>
                                                <br>
                                                <p id="Nacionalidad" class="text-muted">@Html.DisplayFor(model => model.Nacionalidad)</p>
                                            </div>
                                            <div class="col-md-6 col-6">
                                                <strong>Estado civil</strong>
                                                <br>
                                                <p id="Estadoc" class="text-muted">@Html.DisplayFor(model => model.EstadoCivil)</p>
                                                <br>
                                            </div>
                                            <div class="col-md-6 col-6">
                                                <strong>CURP</strong>
                                                <br>
                                                <p id="Curp" class="text-muted">@Html.DisplayFor(model => model.Curp)</p>
                                                <br>
                                            </div>
                                            <div class="col-md-6 col-6">
                                                <strong>Género</strong>
                                                <br>
                                                @if (Model.Genero == 1)
                                                {
                                                    <p id="Curp" class="text-muted">Hombre</p>
                                                }
                                                @if (Model.Genero == 2)
                                                {
                                                    <p id="Curp" class="text-muted">Mujer</p>
                                                }

                                                <br>
                                            </div>
                                            <div class="col-md-6 col-6">
                                                <strong>Trabaja</strong>
                                                <br>
                                                @if (Model.Trabaja == 1)
                                                {
                                                    <p id="Curp" class="text-muted">Si</p>
                                                }
                                                @if (Model.Trabaja == 2)
                                                {
                                                    <p id="Curp" class="text-muted">No</p>
                                                }

                                                <br>
                                            </div>
                                            <div class="col-md-6 col-6">
                                                <strong>Domicilio</strong>
                                                <br>
                                                <p id="Domicilio" class="text-muted">@Html.DisplayFor(model => model.Municipio)</p>
                                                <br>
                                            </div>
                                            <div class="col-md-6 col-6">
                                                <strong>Teléfono</strong>
                                                <br>
                                                <p id="Tel" class="text-muted">@Html.DisplayFor(model => model.Telefono)</p>
                                                <br>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                       
                        @if (tipo == 1)
                        {
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <div class="card-body">
                                        <a asp-controller="EstudiantesInformacion" asp-action="Index" class="btn btn-success btn-sm m-b-10" style="float:right">
                                            Regresar a tabla
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
