@model SGCFIEE.Models.AlumnoFinal
@{


    ViewData["Title"] = "Crea Final";
    Layout = "~/Views/Home/Principal.cshtml";

    var aca = (IEnumerable<Academicos>)ViewData["academicos"];
    var idalum = ViewData["idalumno"];
    var empresas = (IEnumerable<CtEmpresaServPrac>)ViewData["empresa"];
}
<link rel="stylesheet" href="~/assets/plugins/sweet-alert/sweetalert.min.css">
<script src="~/assets/plugins/sweet-alert/sweetalert.min.js"></script>
<script src="~/assets/js/pages/sweet-alert/sweet-alert-data.js"></script>
<!DOCTYPE html>

<html>
<div class="profile-content">
    @if (TempData["msg"] != null)
    {
        @Html.Raw(TempData["msg"])
    }
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="card card-topline-green">
                <div class="card-head">
                    <header>Estancia final</header>
                    <div class="tools">
                        <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                        <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                        <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                    </div>
                </div>
                <div class="white-box">
                    <div class="tab-content">

                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="card-body " id="bar-parent2">
                                    <!-- text input -->
                                    <form asp-action="ActualizarExprep" asp-antiforgery="true">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-3 col-sm-3"></div>
                                                <div class="col-md-6 col-sm-6">
                                                    <input hidden asp-for="ralumno" value="@idalum" class="form-control">
                                                    <input hidden asp-for="idinstancia" value="@Model.rexprep" class="form-control">
                                                    <!-- text input -->
                                                    <div class="form-group">
                                                        <input id="" type="hidden" asp-for="ralumno" value="@idalum" class="form-control">
                                                        <label asp-for="nombreexpre">Nombre del trabajo</label>
                                                        <input asp-for="nombreexpre" type="text" class="form-control" placeholder="Ingresar...">
                                                        <span asp-validation-for="nombreexpre" class="text-danger"></span>
                                                    </div>
                                                    <div class="form-group">
                                                        <input id="" type="hidden" value="" class="form-control">
                                                        <label asp-for="fechafinexp">Fecha donde culminó</label>
                                                        <input asp-for="fechafinexp" type="date" class="form-control" placeholder="mm/dd/aa">
                                                        <span asp-validation-for="fechafinexp" class="text-danger"></span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Seleccione su asesor</label>
                                                        <select asp-for="rasesor" class="form-control" id="programa">
                                                            @foreach (var item in aca)
                                                            {
                                                                <option value="@item.IdAcademicos">@Html.DisplayFor(modelItem => item.Nombre) @Html.DisplayFor(modelItem => item.ApellidoPaterno) @Html.DisplayFor(modelItem => item.ApellidoMaterno) </option>
                                                            }
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Tipo de estancia</label>
                                                        <select asp-for="tipoexpre" class="form-control" id="programa">
                                                            <option value="1">Tesis</option>
                                                            <option value="2">Tesina</option>
                                                            <option value="3">Proyecto practico tecnico</option>
                                                            <option value="4">Proyecto practico</option>
                                                            <option value="5">Monografia</option>
                                                            <option value="6">Examen</option>
                                                            <option value="7">Promedio</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-sm-3">

                                                </div>
                                                <div class="col-md-12 col-sm-12">
                                                    <input id="" type="submit" value="Guardar" class="btn btn-success btn-sm m-b-10" style="float:right">
                                                    <a asp-controller="EstudiantesInformacion" asp-action="DetallesInstancias" asp-route-id="@idalum" class="btn btn-default btn-sm m-b-10" style="float:right">
                                                        Cancelar
                                                    </a>
                                                </div>
                                            </div>

                                        </div>

                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
