@model SGCFIEE.Models.AlumnoFinal
@{


    ViewData["Title"] = "Crea Final";
    Layout = "~/Views/Home/Principal.cshtml";

    var aca = (IEnumerable<Academicos>)ViewData["academicos"];
    var idalum = ViewData["idalumno"];
    var empresas = (IEnumerable<CtEmpresaServPrac>)ViewData["empresa"];
}
<link rel="stylesheet" href="~/assets/plugins/sweet-alert/sweetalert.min.css">
<script src="~/assets/plugins/sweet-alert/sweetalert.min.js"></script>
<script src="~/assets/js/pages/sweet-alert/sweet-alert-data.js"></script>
<!DOCTYPE html>

<html>
<div class="profile-content">
    @if (TempData["msg"] != null)
    {
        @Html.Raw(TempData["msg"])
    }
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="card card-topline-green">
                <div class="card-head">
                    <header>Estancia final</header>
                    <div class="tools">
                        <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                        <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                        <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                    </div>
                </div>
                <div class="white-box">
                    <div class="tab-content">

                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <div class="card-body " id="bar-parent2">
                                        <form asp-action="ActualizarFinal" asp-antiforgery="true">
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-3 col-sm-3"></div>
                                                    <div class="col-md-6 col-sm-6">
                                                        <div class="form-group">
                                                            <input hidden asp-for="ralumno" value="@idalum" class="form-control">
                                                            <input hidden asp-for="idinstancia" value="@Model.idinstancia" class="form-control">
                                                            <label>Seleccione la empresa</label>
                                                            <select asp-for="rempresa" class="form-control" id="programa">
                                                                @foreach (var item in empresas)
                                                                {
                                                                    @if (item.IdCtEmpresas != Model.idempresa)
                                                                    {
                                                                        <option value="@item.IdCtEmpresas">@Html.DisplayFor(modelItem => item.Nombre) </option>
                                                                    }
                                                                    else
                                                                    {
                                                                        <option selected value="@item.IdCtEmpresas">@Html.DisplayFor(modelItem => item.Nombre) </option>
                                                                    }

                                                                }
                                                            </select>
                                                            <input id="" type="hidden" value="Guardar" class="form-control">
                                                            <label asp-for="fechainiserv">Fecha inicio</label>
                                                            <input asp-for="fechainiserv" type="date" class="form-control" placeholder="mm/dd/aa" required="required">
                                                            <span asp-validation-for="fechainiserv" class="text-danger"></span>
                                                        </div>
                                                        <div class="form-group">
                                                            <input id="" type="hidden" value="Guardar" class="form-control">
                                                            <label asp-for="fechafinserv">Fecha fin</label>
                                                            <input asp-for="fechafinserv" type="date" class="form-control" placeholder="mm/dd/aa" required="required">
                                                            <span asp-validation-for="fechafinserv" class="text-danger"></span>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Tipo de estancia</label>
                                                            <select asp-for="tiposervprac" class="form-control" id="programa">
                                                                <option value="1">Servicio Social</option>
                                                                <option value="2">Practicas Profesionales</option>
                                                            </select>
                                                        </div>
                                                        <a asp-route-idalum="@idalum" asp-controller="EstudiantesInformacion" asp-action="CrearEmpresa" class=" center">
                                                            Si no se muestra la empresa a seleccionar, se puede agregar desde aquí.
                                                        </a>
                                                    </div>
                                                    <div class="col-md-3 col-sm-3">

                                                    </div>
                                                    <div class="col-md-12 col-sm-12">
                                                        <input id="" type="submit" value="Guardar" class="btn btn-success btn-sm m-b-10" style="float:right">
                                                        <a asp-controller="EstudiantesInformacion" asp-action="DetallesInstancias" asp-route-id="@idalum" class="btn btn-default btn-sm m-b-10" style="float:right">
                                                            Cancelar
                                                        </a>
                                                    </div>

                                                </div>
                                            </div>

                                        </form>

                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
