@model SGCFIEE.Models.CalificacionAlumno;
@{
    ViewData["Title"] = "Informacion";
    Layout = "~/Views/Home/Principal.cshtml";
    var id = (int)ViewData["nrc"];
    var idalumno = (int)ViewData["idalumno"];
    var info = (ModeloMCadd)ViewData["info"];
    var tipocalif = (IEnumerable<CtTipoCalificacion>)ViewData["tipocalif"];
}

<!DOCTYPE html>

<html>
<div class="profile-content">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="card">
                <div class="card-topline-green">
                    <div class="card-head" id="idDatosPersonales">
                        <header>Calificación</header>
                    </div>
                </div>
                <div class="white-box">
                    <div class="tab-content">
                        <div class="tab-pane fontawesome-demo active show" id="tab1">
                            
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        
                                        <div class="card-body " id="bar-parent2">
                                            <form asp-action="Informacion" asp-antiforgery="true">
                                                <div class="row">
                                                    <input  hidden name="idalumno" value="@idalumno" />
                                                    <div class="col-md-4 col-sm-4">
                                                        <div class="form-group">
                                                            <label>NRC de la Experiencia Educativa</label>
                                                            <input name="nrc" value="@id"  type="number" class="form-control" placeholder="Ingresar..." required="required">
                                                        </div>
                                                        <button type="submit" class="btn btn-success btn-sm m-b-10" >Buscar</button>
                                                        <a asp-controller="EstudiantesInformacion" asp-action="DetallesBoleta" asp-route-id="@idalumno" class="btn btn-default btn-sm m-b-10" >
                                                            Cancelar
                                                        </a>
                                                    </div>
                                                
                                                </div>
                                            </form>
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12">

                                                    <div class="card-body" id="bar-parent2">
                                                        <div class="row">
                                                            <div class="col-md-6 col-6 b-r center">
                                                                <strong>Nombre del académico</strong>
                                                                <br>
                                                                <p id="Nombre" class="text-muted">@info.Maestro</p>
                                                                <br>
                                                                <strong>Periodo</strong>
                                                                <br>
                                                                <p id="Nombre" class="text-muted">@info.Periodo</p>
                                                                <br>
                                                            </div>
                                                            <div class="col-md-6 col-6 b-r center">
                                                                <strong>Nombre de la EE</strong>
                                                                <br>
                                                                <p id="A_paterno" class="text-muted">@info.Experiencia</p>
                                                                <br>
                                                                <strong>Salon</strong>
                                                                <br>
                                                                <p id="A_paterno" class="text-muted">@info.Salon</p>
                                                                <br>
                                                            </div>
                                                            
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <form asp-controller="EstudiantesInformacion" asp-action="GuardarBoleta" asp-antiforgery="true">
                                                <div class="row">
                                                    <input  hidden asp-for="idalumno" value="@idalumno" />
                                                    <input  hidden asp-for="IdExperienciaEducativaPeriodo" value="@info.IdExpericiaEducPerio" />
                                                    <div class="col-md-1 col-1 b-r center"></div>
                                                    <div class="col-md-4 col-4 b-r center">
                                                        <div class="form-group">
                                                            <strong>Tipo de examen</strong>
                                                            <select id="academico" asp-for="RTipoCalificacion" class="form-control">
                                                                @foreach (var item in tipocalif)
                                                                {
                                                                    <option value="@item.IdCtTipoCalificacion">@Html.DisplayFor(modelItem => item.Tipo)</option>
                                                                }
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-1 col-1 b-r center"></div>
                                                    <div class="col-md-1 col-1 b-r center"></div>
                                                    <div class="col-md-4 col-4 b-r center">
                                                        <div class="form-group">
                                                            <strong>Calificación</strong>
                                                            <input asp-for="Calificacion" type="number" class="form-control" placeholder="Ingresar..." required="required">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-1 col-1 b-r center"></div>
                                                    <div class="col-md-12 col-sm-12 center">
                                                        <button type="submit" class="btn btn-success btn-sm m-b-10" >Guardar</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>