@model SGCFIEE.Models.CtMovilidades;
@{
    ViewData["Title"] = "Index";
    var x = (int)ViewData["tipo"];
    Layout = "~/Views/Home/Principal.cshtml";
    var modelo = (IEnumerable<CtMovilidades>)ViewData["Movilidades"];
}
<!DOCTYPE html>
<html>
<div class="profile-content">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="card">
                <div class="card-topline-green">
                    <div class="card-head">
                        <header>Movilidad</header>
                        <div class="tools">
                            <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                            <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                            <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                        </div>
                    </div>
                    
                </div>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane fontawesome-demo active show" id="tab1">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card-body ">
                                        <div class="row p-b-20">
                                            <div class="col-md-12 col-sm-12 col-12">
                                                <form asp-action="Index" asp-antiforgery="true">
                                                    <div class="form-group">
                                                        <div class="col-md-3 col-sm-3">
                                                            <label asp-for="TipoMovilidades">Elija el tipo de movilidad</label>
                                                            <select asp-for="TipoMovilidades" id="tipo" class="form-control">
                                                                <option value="0">Seleccionar...</option>
                                                                <option value="1">Nacional</option>
                                                                <option value="2">Internacional</option>
                                                            </select>
                                                            <br />
                                                            <button id="BuscarMov" type="submit" class="btn btn-success btn-sm m-b-10">
                                                                Buscar
                                                            </button>
                                                        </div>
                                                        
                                                    </div>
                                                </form>
                                                <br />
                                                @if (x == 3)
                                                {
                                                    <div class="btn-group">
                                                        <a asp-controller="EstudiantesMovilidad" asp-action="ConsultarEstatus" class="btn btn-success btn-sm m-b-10">
                                                            ConsultarEstado <i class="fa fa-plus"></i>
                                                        </a>
                                                    </div>
                                                }

                                            </div>
                                            </div> 
                                            <table class="table table-striped table-bordered table-hover table-checkable order-column" style="width: 100%" id="example1">
                                                <thead>
                                                    <tr>
                                                        <th class="center"> País destino    </th>
                                                        <th class="center"> Entidad destino </th>
                                                        <th class="center"> Escuela participante </th>
                                                        <th class="center"> Tiempo de permanencia</th>
                                                        @if (x != 3)
                                                        {
                                                            <th class="center">Acciones</th>
                                                        }

                                                    </tr>
                                                </thead>
                                                <tbody> 
                                                    @foreach (var item in modelo)
                                                    {
                                                    <tr class="odd gradeX">
                                                        <td class="center">@Html.DisplayFor(modelItem => item.PaisDestinoMovilidad)</td>
                                                        <td class="center">@Html.DisplayFor(modelItem => item.EntidadDestinoMovilidad)</td>
                                                        <td class="center">@Html.DisplayFor(modelItem => item.EscuelaDestinoMovilidad)</td>
                                                        <td class="center">@Html.DisplayFor(modelItem => item.TiempoPermanenciaMovilidad)</td>
                                                        @if (x != 3)
                                                        {
                                                            <td class="center">
                                                                <a asp-route-id="@item.IdCtMovilidades" asp-controller="EstudiantesMovilidad" asp-action="Editar" class="btn btn-primary btn-xs editar" title="Editar">
                                                                    <i class="fa fa-pencil"></i>
                                                                </a>
                                                                <a asp-route-id="@item.IdCtMovilidades" asp-controller="EstudiantesMovilidad" asp-action="FormInscribir" class="btn btn-success btn-xs eliminar" title="Inscribir">
                                                                    <i class="fa fa-sign-in "></i>
                                                                </a>
                                                            </td>
                                                        }
                                                    </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
</html>
