@model SGCFIEE.Models.FormInscribirMovilidad;
@{
    Layout = "~/Views/Home/Principal.cshtml";
    var x = (int)ViewData["clv"];
    var tipo = (int)ViewData["tipoMovi"];
    var y = (IEnumerable<ProgramaEducativo>)ViewData["Programas"];
    var alumnos = (IEnumerable<TablaAlumno>)ViewData["Alumnos"];
}

<!DOCTYPE html>

<div class="profile-content">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="card">
                <div class="card-topline-green">
                    <div class="card-head">
                        <header>Registrar alumno en movilidad</header>
                    </div>
                </div>
                <div class="white-box">
                    <div class="tab-content">
                        <div class="tab-pane fontawesome-demo active show" id="tab1">
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <div class="card-body " id="bar-parent2">
                                        <!-- text input -->
                                        <form asp-action="MostrarListaAlumnos" asp-antiforgery="true">
                                            <div class="card-body " id="bar-parent2">
                                                <div class="row">
                                                    <input type="hidden" name="tipo" value="@tipo" />
                                                    <input type="hidden" asp-for="idMovilidad" value="@x" />
                                                    <div class="col-md-6 col-sm-6">
                                                        <div class="form-group">
                                                            <label asp-for="idAlumno">Seleccione la carrera</label>
                                                            <select asp-for="idAlumno" class="form-control">
                                                                @foreach (var item in y)
                                                                {
                                                                    <option value="@item.IdProgramaEducativo">@Html.DisplayFor(modelItem => item.Nombre)</option>
                                                                }
                                                            </select>
                                                        </div>
                                                        <button type="submit" class="btn btn-success btn-sm m-b-10" id="guardarmovi">
                                                            Cargar alumnos
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </form>
                                        <form asp-action="MostrarInformacionInscripcion" asp-antiforgery="true">
                                            <div class="card-body " id="bar-parent2">
                                                <div class="row">
                                                    <input type="hidden" name="tipo" value="@tipo" />
                                                    <input type="hidden" asp-for="idMovilidad" value="@x" />
                                                    <div class="col-md-6 col-sm-6">
                                                        <div class="form-group">
                                                            <label asp-for="idAlumno">Seleccione al alumno</label>
                                                            <select asp-for="idAlumno" class="form-control">
                                                                @foreach (var item in alumnos)
                                                                {
                                                                    String NombreCompleto = item.Nombre + " " + item.ApellidoPaterno + " " + item.ApellidoMaterno;
                                                                    <option value="@item.id">@Html.DisplayFor(modelItem => NombreCompleto)</option>
                                                                }
                                                            </select>
                                                        </div>
                                                        <a id="cancelarEdicion" asp-controller="EstudiantesMovilidad" asp-route-tipo="@tipo" asp-action="Index" class="btn btn-default btn-sm m-b-10">
                                                            Cancelar
                                                        </a>
                                                        <button type="submit" class="btn btn-success btn-sm m-b-10" id="guardarmovi">
                                                            Cargar informacion
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </form>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>