@model SGCFIEE.Models.FormInscribirMovilidad;
@{
    Layout = "~/Views/Home/Principal.cshtml";
    var x = (SGCFIEE.Models.CtMovilidades)ViewData["dtMovi"];
    var y = (SGCFIEE.Models.Alumnos)ViewData["dtEAlu"];
    var z = (SGCFIEE.Models.DatosPersonales)ViewData["dtPAlu"];
    var k = (SGCFIEE.Models.FormInscribirMovilidad)ViewData["dt"];
    var periodo = (IEnumerable<TipoPeriodo>)ViewData["periodo"];
}

<!DOCTYPE html>

<html>
<div class="profile-content">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="card">
                <div class="card-topline-green"></div>
                <div class="white-box">
                    <div class="p-rl-20">
                        <ul class="nav customtab nav-tabs" role="tablist">
                            <li class="nav-item"><a href="#tab1" class="nav-link active show" data-toggle="tab">Inscripcion movilidad</a></li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fontawesome-demo active show" id="tab1">
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <div class="card-body " id="bar-parent2">
                                        <div class="row">
                                            <div class="col-md-6 col-6 b-r">
                                                <strong>Escuela destino</strong>
                                                <p id="Matematicas" class="text-muted">@Html.DisplayFor(model => x.EscuelaDestinoMovilidad)</p>
                                                <br>
                                            </div>
                                            <div class="col-md-6 col-6 b-r">
                                                <strong>Entidad destino</strong>
                                                <p id="Matematicas" class="text-muted">@Html.DisplayFor(model => x.EntidadDestinoMovilidad)</p>
                                                <br>
                                            </div>
                                            <div class="col-md-6 col-6 b-r">
                                                <strong>País destino</strong>
                                                <p id="Matematicas" class="text-muted">@Html.DisplayFor(model => x.PaisDestinoMovilidad)</p>
                                                <br>
                                            </div>
                                            <div class="col-md-6 col-6 b-r">
                                                <strong>Nombre del alumno</strong>
                                                <p id="Matematicas" class="text-muted">@Html.DisplayFor(model => k.NombreAlumno)</p>
                                                <br>
                                            </div>
                                            <div class="col-md-6 col-6 b-r">
                                                <strong>Matricula del alumno</strong>
                                                <p id="Matematicas" class="text-muted">@Html.DisplayFor(model => y.Matricula)</p>
                                                <br>
                                            </div>
                                        </div>
                                        <form asp-action="GuardarInscripcion" asp-antiforgery="true">
                                            <div class="card-body " id="bar-parent2">
                                                <div class="row">
                                                    <input type="hidden" asp-for="idMovilidad" value="@k.idMovilidad" />
                                                    <input type="hidden" asp-for="idAlumno" value="@k.idAlumno" />

                                                    <div class="form-group">
                                                        <label>Periodo de inicio</label>
                                                        <select asp-for="idPeriodo" class="form-control">
                                                            @foreach (var item in periodo)
                                                            {
                                                                <option value="@item.IdPeriodo">@Html.DisplayFor(modelItem => item.Nombre)</option>
                                                            }
                                                        </select>
                                                    </div>

                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-success btn-sm m-b-10" id="guardarmovi">
                                                Guardar
                                            </button>
                                        </form>
                                        <a id="cancelarEdicion" asp-controller="EstudiantesMovilidad" asp-action="Index" class="btn btn-default btn-sm m-b-10">
                                            Cancelar
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
