@model SGCFIEE.Models.EvaluadoresAcademicos;
@{
    ViewData["Title"] = "CrearArbitraje";
    Layout = "~/Views/Home/Principal.cshtml";
    var tipo = (IEnumerable<TipoEvaluador>)ViewData["evaluadores"];
}
<!DOCTYPE html>

<html>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="card card-box">
                <div class="card-topline-green card-head">
                    <header>ARBITRAJE DE PRODUCTOS ACADÉMICOS</header>        
                </div>
                <div class="card-body " id="bar-parent2">
                    <form asp-controller="AcademicosParticipacionesAcad" asp-action="ActualizarArbitraje" method="post" enctype="multipart/form-data"> 
                        <div class="row">
                            <div class="col-md-6 col-md-6">
                                <input type="hidden" asp-for="IdEvaluadoresAcademicos"/>
                                
                                <div class="form-group">
                                    Seleccione:<br>
                                    <input asp-for="RevisorEvaluador" type="radio" value="1"/> Revisor<br>
                                    <input asp-for="RevisorEvaluador" type="radio" value="0"/> Evaluador
                                </div>
                            </div>
                            <div class="col-md-6 col-md-6">
                                <div class="form-group">
                                    <label>Productos</label>
                                    <select asp-for="IdTipoEvaluador" class="form-control">
                                        @foreach (var item in tipo)
                                        {
                                            @if (item.IdTipoEvaluador != Model.IdTipoEvaluador)
                                            {
                                                <option value="@item.IdTipoEvaluador">@Html.DisplayFor(modelItem => item.Nombre)</option>
                                            }
                                            else
                                            {
                                                <option selected value="@item.IdTipoEvaluador">@Html.DisplayFor(modelItem => item.Nombre)</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Actualizar evidencia:  @Model.Archivo</label><br>
                                    <input type="file" class="default" id="archivo" name="file">
                                </div>
                                <br>
                                <button type="submit" class="btn btn-success btn-sm m-b-10" name="Guardar" style="float:right">
                                    Guardar
                                </button>
                                <a asp-controller="AcademicosParticipacionesAcad" asp-action="IndexArbitraje" class="btn btn-default btn-sm m-b-10" style="float:right">
                                Cancelar
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</html>
