
@{
    ViewData["Title"] = "DetallesGA";
    Layout = "~/Views/Home/Principal.cshtml";
    var estudios = (IEnumerable<pEstudios>) ViewData["estudios"];
    var academico = (int) ViewData["academico"];
    var tipo = (int) ViewData["tipo"];
}

<!DOCTYPE html>

<html>
<div class="card card-topline-green">
    <div class="white-box">
        @if (tipo == 2)
        {
            <button id="modificar_academico" type="button" class="btn btn-success btn-sm m-b-10">
                Modificar <i class="fa fa-plus"></i>
            </button>
        }
        <div class="p-rl-20">
            <ul class="nav customtab nav-tabs" role="tablist">
                <li class="nav-item"><a asp-route-id="@academico" asp-controller="AcademicosDatosGenerales" asp-action="DetallesDG" class="nav-link">Datos generales</a></li>
                <li class="nav-item"><a asp-route-id="@academico" asp-controller="AcademicosDatosGenerales" asp-action="DetallesGA" class="nav-link active">Grados académicos</a></li>
                <li class="nav-item"><a asp-route-id="@academico" asp-controller="AcademicosDatosGenerales" asp-action="DetallesCertificaciones" class="nav-link">Certificaciones</a></li>
                <li class="nav-item"><a asp-route-id="@academico" asp-controller="AcademicosDatosGenerales" asp-action="DetallesCD" class="nav-link">Cursos/Diplomados</a></li>
                <li class="nav-item"><a asp-route-id="@academico" asp-controller="AcademicosDatosGenerales" asp-action="DetallesEP" class="nav-link">Experiencia profesional</a></li>
                <li class="nav-item"><a asp-route-id="@academico" asp-controller="AcademicosDatosGenerales" asp-action="DetallesTC" class="nav-link">Tipo de contratación</a></li>
                <li class="nav-item"><a asp-route-id="@academico" asp-controller="AcademicosDatosGenerales" asp-action="DetallesDistinciones" class="nav-link">Reconocimientos académicos</a></li>
            </ul>
        </div>
        <div class="tab-content">
            <div class="tab-pane active" id="tab2">
                <div class="row">
                    <div class="table-scrollable">
                        <table class="mdl-data-table ml-table-bordered mdl-js-data-table mdl-data-table--selectable is-upgraded" data-upgraded=",MaterialDataTable">
                            <thead>
                                <tr>
                                    <th hidden></th>
                                    <th class="mdl-data-table__cell--non-numeric center">Nombre</th>
                                    <th class="mdl-data-table__cell--non-numeric center">Institución</th>
                                    <th class="mdl-data-table__cell--non-numeric center">Reconocimiento</th>
                                    <th class="mdl-data-table__cell--non-numeric center">Fecha de egreso</th>
                                    <th class="mdl-data-table__cell--non-numeric center">Fecha de titulación</th>
                                    <th class="mdl-data-table__cell--non-numeric center">Titulo</th>
                                    <th class="mdl-data-table__cell--non-numeric center">Cedula</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in estudios)
                                {
                                <tr>
                                    <td hidden></td>
                                    <td class="mdl-data-table__cell--non-numeric">@Html.DisplayFor(modelItem => item.GradoTitulo)</td>
                                    <td class="mdl-data-table__cell--non-numeric">@Html.DisplayFor(modelItem => item.Institucion)</td>
                                    <td class="mdl-data-table__cell--non-numeric">@Html.DisplayFor(modelItem => item.Reconocimiento)</td>
                                    <td class="mdl-data-table__cell--non-numeric">@Html.DisplayFor(modelItem => item.FechaDeEgreso)</td>
                                    <td class="mdl-data-table__cell--non-numeric">@Html.DisplayFor(modelItem => item.FechaDeTitulacion)</td>
                                    <td class="center">
                                        <a class="btn btn-primary btn-xs" asp-route-filename="@item.ArchivoTitulo" asp-controller="AcademicosDatosGenerales" asp-action="DescargarGA">
                                            <i class="fa fa-download"></i>
                                        </a>
                                    </td>
                                    <td class="mdl-data-table__cell--non-numeric center">
                                        <a class="btn btn-primary btn-xs" asp-route-filename="@item.ArchivoCedula" asp-controller="AcademicosDatosGenerales" asp-action="DescargarGA">
                                            <i class="fa fa-download"></i>
                                        </a>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
