
@{
    ViewData["Title"] = "EditarEP";
    Layout = "~/Views/Home/Principal.cshtml";
    var ep = (IEnumerable<pExperienciaProfesional>)ViewData["ep"];
    var academico = (int)ViewData["academico"];
    var tipo = (int)ViewData["tipo"];
}
<script src="~/assets/plugins/sweet-alert/sweetalert.min.js"></script>
<script src="~/assets/js/pages/sweet-alert/sweet-alert-data.js"></script>


<!DOCTYPE html>
<html lang="en">
<div class="row">
    @if (TempData["msg"] != null)
    {
        @Html.Raw(TempData["msg"])
    }
    <div class="col-md-12 col-sm-12">
        <div class="card card-box">
            <div class="card-topline-green card-head">
                <header>DATOS DEL ACADÉMICO</header>
            </div>
            <div class="white-box">
                <!-- Nav tabs -->
                <div class="p-rl-20">
                    <ul class="nav customtab nav-tabs" role="tablist">
                        <li class="nav-item"><a asp-route-id="@academico" asp-controller="AcademicosDatosGenerales" asp-action="EditarDG" class="nav-link">Datos generales</a></li>
                        <li class="nav-item"><a asp-route-id="@academico" asp-controller="AcademicosDatosGenerales" asp-action="EditarGA" class="nav-link">Grados académicos</a></li>
                        <li class="nav-item"><a asp-route-id="@academico" asp-controller="AcademicosDatosGenerales" asp-action="EditarCertificaciones" class="nav-link">Certificaciones</a></li>
                        <li class="nav-item"><a asp-route-id="@academico" asp-controller="AcademicosDatosGenerales" asp-action="EditarCD" class="nav-link">Cursos/Diplomados</a></li>
                        <li class="nav-item"><a asp-route-id="@academico" asp-controller="AcademicosDatosGenerales" asp-action="EditarEP" class="nav-link active">Experiencia profesional</a></li>
                        <li class="nav-item"><a asp-route-id="@academico" asp-controller="AcademicosDatosGenerales" asp-action="EditarTC" class="nav-link">Tipo de contratación</a></li>
                        <li class="nav-item"><a asp-route-id="@academico" asp-controller="AcademicosDatosGenerales" asp-action="EditarDistinciones" class="nav-link">Reconocimientos académicos</a></li>
                    </ul>
                </div>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active fontawesome-demo" id="tab1">
                        <div class="col-md-12 col-sm-12">
                            <div>
                                <div class="row p-b-20">
                                    <div class="col-md-6 col-sm-6 col-6">
                                        <div class="btn-group">
                                            <a asp-route-id="@academico" asp-controller="AcademicosDatosGenerales" asp-action="FormCrearEP" id="agregargrado" class="btn btn-success btn-sm m-b-10">
                                                Agregar <i class="fa fa-plus" style="color: white"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-scrollable">
                                    <table class="table table-striped table-bordered table-hover table-checkable order-column " style="width: 100%" id="tablaep">
                                        <thead>
                                            <tr>
                                                <th hidden></th>
                                                <th class="center">Empresa</th>
                                                <th class="center">Puesto</th>
                                                <th class="center">Área de desarrollo profesional</th>
                                                <th class="center">Años de antigüedad en años</th>
                                                <th class="center">Evidencia</th>
                                                <th class="center">Acción</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in ep)
                                            {
                                                <tr>
                                                    <td hidden></td>
                                                    <td class="mdl-data-table__cell--non-numeric">@Html.DisplayFor(modelItem => item.empresa)</td>
                                                    <td class="mdl-data-table__cell--non-numeric">@Html.DisplayFor(modelItem => item.TipoPuesto)</td>
                                                    <td class="mdl-data-table__cell--non-numeric">@Html.DisplayFor(modelItem => item.AreaDesarrollo)</td>
                                                    <td class="center">@Html.DisplayFor(modelItem => item.FechaInicio)</td>
                                                    <td class="center">
                                                        <a class="btn btn-primary btn-xs" asp-route-filename="@item.Archivo" asp-controller="AcademicosDatosGenerales" asp-action="DescargarEP">
                                                            <i class="fa fa-download"></i>
                                                        </a>
                                                    </td>
                                                    <td class="center">
                                                        <a asp-route-id="@item.IdEp" asp-route-idAcad="@academico" asp-controller="AcademicosDatosGenerales" asp-action="FormEditarEP" title="Editar" class="btn btn-primary btn-xs verdatos">
                                                            <i class="fa fa-pencil"></i>
                                                        </a>
                                                        <a data-value="@item.IdEp" data-controlador="AcademicosDatosGenerales" data-accion="EliminarEP" data-id="@academico" data-regreso="EditarEP" name="eliminaracademico" class="btn btn-danger btn-xs" title="Eliminar">
                                                            <i class="fa fa-trash-o "></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

