
@{
    ViewData["Title"] = "EditarCD";
    Layout = "~/Views/Home/Principal.cshtml";
    var cd = (IEnumerable<pCursosDiplomadoFormacion>)ViewData["cd"];
    var academico = (int)ViewData["academico"];
    var tipo = (int)ViewData["tipo"];
}

<!DOCTYPE html>
<html>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="card card-box">
            <div class="card-topline-green card-head">
                <header>DATOS DEL ACADÉMICO</header>
            </div>
            <div class="white-box">
                <!-- Nav tabs -->
                <div class="p-rl-20">
                    <ul class="nav customtab nav-tabs" role="tablist">
                        <li class="nav-item"><a asp-route-id="@academico" asp-controller="AcademicosDatosGenerales" asp-action="EditarDG" class="nav-link">Datos generales</a></li>
                        <li class="nav-item"><a asp-route-id="@academico" asp-controller="AcademicosDatosGenerales" asp-action="EditarGA" class="nav-link">Grados académicos</a></li>
                        <li class="nav-item"><a asp-route-id="@academico" asp-controller="AcademicosDatosGenerales" asp-action="EditarCertificaciones" class="nav-link">Certificaciones</a></li>
                        <li class="nav-item"><a asp-route-id="@academico" asp-controller="AcademicosDatosGenerales" asp-action="EditarCD" class="nav-link active">Cursos/Diplomados</a></li>
                        <li class="nav-item"><a asp-route-id="@academico" asp-controller="AcademicosDatosGenerales" asp-action="EditarEP" class="nav-link">Experiencia profesional</a></li>
                        <li class="nav-item"><a asp-route-id="@academico" asp-controller="AcademicosDatosGenerales" asp-action="EditarTC" class="nav-link">Tipo de contratación</a></li>
                        <li class="nav-item"><a asp-route-id="@academico" asp-controller="AcademicosDatosGenerales" asp-action="EditarDistinciones" class="nav-link">Reconocimientos académicos</a></li>
                    </ul>
                </div>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active fontawesome-demo" id="tab1">
                        <div class="col-md-12 col-sm-12">
                            <div>
                                <div class="row p-b-20">
                                    <div class="col-md-6 col-sm-6 col-6">
                                        <div class="btn-group">
                                            <a asp-route-id="@academico" asp-controller="AcademicosDatosGenerales" asp-action="FormCrearCD" id="agregargrado" class="btn btn-success btn-sm m-b-10">
                                                Agregar <i class="fa fa-plus" style="color: white"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-scrollable">
                                    <table class="table table-striped table-bordered table-hover table-checkable order-column " style="width: 100%" id="tablaCD">
                                        <thead>
                                            <tr>
                                                <th class="center">Curso/Diplomado</th>
                                                <th class="center">Nombre</th>
                                                <th class="center">Número de horas</th>
                                                <th class="center">Pedagógico/Disciplinar</th>
                                                <th class="center">Nombre de la empresa/IES</th>
                                                <th class="center">Lugar</th>
                                                <th class="center">Fecha</th>
                                                <th class="center">Evidencia</th>
                                                <th class="center">Acción</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in cd)
                                            {
                                            <tr>
                                                <td class="mdl-data-table__cell--non-numeric">
                                                    @if (item.CursoDiplomado == 0)
                                                    {<div>Curso</div>} @if (item.CursoDiplomado == 1)
                                                {<div>Diplomado</div>}
                                                </td>
                                                <td class="mdl-data-table__cell--non-numeric">@Html.DisplayFor(modelItem => item.Nombre)</td>
                                                <td class="mdl-data-table__cell--non-numeric">@Html.DisplayFor(modelItem => item.Horas)</td>
                                                <td class="mdl-data-table__cell--non-numeric">
                                                    @if (item.PD == 0)
                                                    {<div>Pedagógico</div>} @if (item.PD == 1)
                                                {<div>Disciplinar</div>}
                                                </td>
                                                <td class="mdl-data-table__cell--non-numeric">@Html.DisplayFor(modelItem => item.institucion)</td>
                                                <td class="mdl-data-table__cell--non-numeric">@Html.DisplayFor(modelItem => item.Lugar)</td>
                                                <td class="mdl-data-table__cell--non-numeric">@Html.DisplayFor(modelItem => item.Fecha)</td>
                                                <td class="center">
                                                    <a class="btn btn-primary btn-xs" asp-route-filename="@item.Archivo" asp-controller="AcademicosDatosGenerales" asp-action="DescargarCD">
                                                        <i class="fa fa-download"></i>
                                                    </a>
                                                </td>
                                                <td class="center">
                                                    <a asp-route-id="@item.IdCD" asp-controller="AcademicosDatosGenerales" asp-action="FormEditarCD" title="Editar" class="btn btn-primary btn-xs verdatos">
                                                        <i class="fa fa-pencil"></i>
                                                    </a>
                                                    <a data-value="@item.IdCD" data-controlador="AcademicosDatosGenerales" data-accion="EliminarCD" data-id="@academico" data-regreso="EditarCD" name="eliminaracademico" class="btn btn-danger btn-xs" title="Eliminar">
                                                        <i class="fa fa-trash-o "></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

