@model SGCFIEE.Models.Academicos;
@{
    ViewData["Title"] = "DetallesDG";
    Layout = "~/Views/Home/Principal.cshtml";
    var aca = (Academicos)ViewData["aca"];
    var pe = (IEnumerable<ProgramaEducativo>)ViewData["pe"];
    var tipo = (int)ViewData["tipo"];
    var academico = (int)ViewData["academico"];
}

<!DOCTYPE html>

<html>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="card card-box">
            <div class="card-topline-green card-head">
                <header>DATOS DEL ACADÉMICO</header>
            </div>
            <div class="white-box">
                <!-- Nav tabs -->
                <div class="p-rl-20">
                    <ul class="nav customtab nav-tabs" role="tablist">
                        <li class="nav-item"><a asp-route-id="@academico" asp-controller="AcademicosDatosGenerales" asp-action="EditarDG" class="nav-link active">Datos generales</a></li>
                        <li class="nav-item"><a asp-route-id="@academico" asp-controller="AcademicosDatosGenerales" asp-action="EditarGA" class="nav-link">Grados académicos</a></li>
                        <li class="nav-item"><a asp-route-id="@academico" asp-controller="AcademicosDatosGenerales" asp-action="EditarCertificaciones" class="nav-link">Certificaciones</a></li>
                        <li class="nav-item"><a asp-route-id="@academico" asp-controller="AcademicosDatosGenerales" asp-action="EditarCD" class="nav-link">Cursos/Diplomados</a></li>
                        <li class="nav-item"><a asp-route-id="@academico" asp-controller="AcademicosDatosGenerales" asp-action="EditarEP" class="nav-link">Experiencia profesional</a></li>
                        <li class="nav-item"><a asp-route-id="@academico" asp-controller="AcademicosDatosGenerales" asp-action="EditarTC" class="nav-link">Tipo de contratación</a></li>
                        <li class="nav-item"><a asp-route-id="@academico" asp-controller="AcademicosDatosGenerales" asp-action="EditarDistinciones" class="nav-link">Reconocimientos académicos</a></li>
                    </ul>
                </div>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active fontawesome-demo" id="tab1">
                        <form asp-controller="AcademicosDatosGenerales" asp-action="ActualizarDG">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <input type="hidden" asp-for="IdAcademicos" value="@aca.IdAcademicos">
                                    <input type="hidden" asp-for="RTipoPersonal" value="@aca.RTipoPersonal">
                                    <div class="form-group">
                                        <label>Nombre</label>
                                        <input asp-for="Nombre" type="text" class="form-control" value="@aca.Nombre">
                                    </div>
                                    <div class="form-group">
                                        <label>Apellido paterno</label>
                                        <input asp-for="ApellidoPaterno" type="text" class="form-control" value="@aca.ApellidoPaterno">
                                    </div>
                                    <div class="form-group">
                                        <label>Apellido materno</label>
                                        <input asp-for="ApellidoMaterno" type="text" class="form-control" value="@aca.ApellidoMaterno">
                                    </div>
                                    <div class="form-group">
                                        <label>CURP</label>
                                        <input asp-for="Curp" type="text" class="form-control" value="@aca.Curp">
                                    </div>
                                    <div class="form-group">
                                        <label>Correo institucional</label>
                                        <input asp-for="CorreoInstitucional" type="text" class="form-control" value="@aca.CorreoInstitucional">
                                    </div>
                                    <div class="form-group">
                                        <label>Correo alternativo</label>
                                        <input asp-for="CorreoAlternativo" type="text" class="form-control" value="@aca.CorreoAlternativo">
                                    </div>
                                    <div class="form-group">
                                        Fecha de nacimiento
                                        <input asp-for="FechaNacimiento" type="date" class="form-control" value="@aca.FechaNacimiento">

                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>Sexo</label>
                                        <input asp-for="Sexo" type="radio" value="1" if (aca.Sexo= =1) {checked}> Masculino <br>
                                        <input asp-for="Sexo" type="radio" value="0" if (aca.Sexo= =0) {checked}> Femenino
                                    </div>
                                    <div class="form-group">
                                        <label>Número de teléfono</label>
                                        <input asp-for="Celular" type="text" class="form-control" value="@aca.Celular">
                                    </div>
                                    <div class="form-group">
                                        <label>Número de personal</label>
                                        <input asp-for="NumeroPersonal" type="number" class="form-control" min="0" value="@aca.NumeroPersonal">
                                    </div>
                                    <div class="form-group">
                                        <label>Programa educativo</label>
                                        <select asp-for="IdProgramaEducativo" class="form-control">
                                            @foreach (var item in pe)
                                            {
                                                @if (item.IdProgramaEducativo != aca.IdProgramaEducativo)
                                                {
                                                    <option value="@item.IdProgramaEducativo">@Html.DisplayFor(modelItem => item.Nombre)</option>
                                                }
                                                else
                                                {
                                                    <option selected value="@item.IdProgramaEducativo">@Html.DisplayFor(modelItem => item.Nombre)</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Estado</label>
                                        <select asp-for="Status" id="estado" class="form-control">
                                            <option value="1">Activo</option>
                                            <option value="2">Inactivo</option>
                                            <option value="3">Incapacitado</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        Fecha de ingreso a la UV
                                        <input asp-for="FechaIngresoUv" id="fechaingreso" name="FechaIngresoUv" type="date" value="@aca.FechaIngresoUv" class="form-control">
                                    </div>
                                    <br>
                                    <input id="guardargenerales" type="submit" value="Guardar" class="btn btn-success btn-sm m-b-10" style="float:right">
                                    <a asp-controller="AcademicosDatosGenerales" asp-action="Index" class="btn btn-default btn-sm m-b-10" style="float:right">
                                        Volver
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
