@model SGCFIEE.Models.DistincionesTa;
@{
    ViewData["Title"] = "EditarDistinciones";
    Layout = "~/Views/Home/Principal.cshtml";
    var td = (IEnumerable<TipoDistincionTa>)ViewData["td"];
    var academico = (int)ViewData["academico"];
    var tipo = (int)ViewData["tipo"];
}
<script src="~/assets/plugins/sweet-alert/sweetalert.min.js"></script>
<script src="~/assets/js/pages/sweet-alert/sweet-alert-data.js"></script>


<!DOCTYPE html>
<html lang="en">
<div class="row">
    @if (TempData["msg"] != null)
    {
        @Html.Raw(TempData["msg"])
    }
    <div class="col-md-12 col-sm-12">
        <div class="card card-box">
            <div class="card-topline-green card-head">
                <header>DATOS DEL ACADÉMICO</header>
            </div>
            <div class="white-box">
                <!-- Nav tabs -->
                <div class="p-rl-20">
                    <ul class="nav customtab nav-tabs" role="tablist">
                        <li class="nav-item"><a asp-route-id="@academico" asp-controller="AcademicosDatosGenerales" asp-action="EditarDG" class="nav-link">Datos generales</a></li>
                        <li class="nav-item"><a asp-route-id="@academico" asp-controller="AcademicosDatosGenerales" asp-action="EditarGA" class="nav-link">Grados académicos</a></li>
                        <li class="nav-item"><a asp-route-id="@academico" asp-controller="AcademicosDatosGenerales" asp-action="EditarCertificaciones" class="nav-link">Certificaciones</a></li>
                        <li class="nav-item"><a asp-route-id="@academico" asp-controller="AcademicosDatosGenerales" asp-action="EditarCD" class="nav-link">Cursos/Diplomados</a></li>
                        <li class="nav-item"><a asp-route-id="@academico" asp-controller="AcademicosDatosGenerales" asp-action="EditarEP" class="nav-link">Experiencia profesional</a></li>
                        <li class="nav-item"><a asp-route-id="@academico" asp-controller="AcademicosDatosGenerales" asp-action="EditarTC" class="nav-link">Tipo de contratación</a></li>
                        <li class="nav-item"><a asp-route-id="@academico" asp-controller="AcademicosDatosGenerales" asp-action="EditarDistinciones" class="nav-link active">Reconocimientos académicos</a></li>
                    </ul>
                </div>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active fontawesome-demo" id="tab1">
                        <div class="card-body " id="bar-parent2">
                            <form asp-controller="AcademicosDatosGenerales" asp-action="ActualizarDistinciones" method="post" enctype="multipart/form-data">
                                <div class="row">
                                    <input asp-for="IdAcademico" type="hidden" value="@academico">

                                    <div class="col-md-6 col-sm-6">

                                        <div class="form-group">
                                            <label>Tipo de distinción</label>
                                            <select asp-for="IdDistincion" class="form-control">
                                                @foreach (var item in td)
                                                {
                                                    @if (item.IdDistincion != Model.IdDistincion)
                                                    {
                                                        <option value="@item.IdDistincion">@Html.DisplayFor(modelItem => item.Nombre)</option>
                                                    }
                                                    else
                                                    {
                                                        <option selected value="@item.IdDistincion">@Html.DisplayFor(modelItem => item.Nombre)</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            Vigencia
                                            <input asp-for="Vigencia" id="vigencia" type="date" class="form-control">
                                        </div>

                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <label>Archivo de evidencia: @Model.Archivo</label><br>
                                        <input type="file" asp-for="Archivo" class="default" id="archivodistincion" name="file">
                                        <br><br><br>
                                        <input id="guardardistincion" type="submit" value="Guardar" class="btn btn-success btn-sm m-b-10" style="float:right">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

