@model SGCFIEE.Models.ExperienciaProfesional;
@{
    ViewData["Title"] = "TablaEP";
    Layout = "~/Views/Home/Principal.cshtml";
    var ies = (IEnumerable<InstitucionesEmpresas>)ViewData["ies"];
    var tp = (IEnumerable<TipoPuesto>)ViewData["tp"];
    var academico = (int)ViewData["academico"];
    var tipo = (int)ViewData["tipo"];
}

<html>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="card card-box">
            <div class="card-topline-green card-head">
                <header>Experiencia profesional</header>
            </div>
            <div class="card-body " id="bar-parent2">
                <form asp-controller="AcademicosDatosGenerales" asp-action="ActualizarFormEP" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <input asp-for="IdAcademico" type="hidden">
                            <input asp-for="IdEp" type="hidden">
                            <div class="form-group">
                                <label>Empresa</label>
                                <select asp-for="IdEmpresa" class="form-control">
                                    @foreach (var item in ies)
                                    {
                                        @if (item.IdIE != Model.IdEmpresa)
                                        {
                                            <option value="@item.IdIE">@Html.DisplayFor(modelItem => item.Nombre)</option>
                                        }
                                        else
                                        {
                                            <option selected value="@item.IdIE">@Html.DisplayFor(modelItem => item.Nombre)</option>
                                        }
                                        
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Puesto</label>
                                <select id="puesto" asp-for="IdTipoPuesto" class="form-control">
                                    @foreach (var item in tp)
                                    {
                                        @if (item.IdPuesto != Model.IdTipoPuesto)
                                        {
                                            <option value="@item.IdPuesto">@Html.DisplayFor(modelItem => item.Nombre)</option>
                                        }
                                        else
                                        {
                                            <option value="@item.IdPuesto">@Html.DisplayFor(modelItem => item.Nombre)</option>
                                        }
                                        
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Áreas de desarrollo profesional</label>
                                <input id="areadesarrollo" asp-for="AreaDesarrollo" type="text" class="form-control" placeholder="Ingresar...">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <div style="text-align: center"> Tiempo de servicio </div>
                                Fecha de inicio
                                <input id="fechainicio" type="date" asp-for="FechaInicio" class="form-control">
                                <br>
                                Fecha de termino
                                <input id="fechatermino" type="date" asp-for="FechaFin" class="form-control">
                            </div>
                            <label>Actualizar Contrato:  @Model.Archivo </label><br>
                            <input asp-for="Archivo" type="file" class="default" name="file" id="archivoexperiencia">
                            <br>
                            <input id="guardarexperiencia" type="submit" value="Guardar" class="btn btn-success btn-sm m-b-10" style="float:right">
                            <br>
                            <br>
                            <a asp-route-id="@academico" asp-controller="AcademicosDatosGenerales" asp-action="EditarEP" type="button" class="btn btn-success btn-sm m-b-10" style="float:right">
                                Volver
                            </a>

                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
</html>
