@model SGCFIEE.Models.Estudios;
@{
    ViewData["Title"] = "EditarGA";
    Layout = "~/Views/Home/Principal.cshtml";
    var NombreTitulo = (IEnumerable<NombreTitulo>)ViewData["nt"];
    var GradoTitulo = (IEnumerable<GradoTitulo>)ViewData["gt"];
    var ies = (IEnumerable<InstitucionesEmpresas>)ViewData["ies"];
    var academico = (int)ViewData["academico"];
    var tipo = (int)ViewData["tipo"];
}

<!DOCTYPE html>
<html>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="card card-box">
            <div class="card-topline-green card-head">
                <header>DATOS DEL ACADÉMICO</header>
            </div>
            <div class="white-box">
                <!-- Nav tabs -->
                <div class="p-rl-20">
                    <ul class="nav customtab nav-tabs" role="tablist">
                        <li class="nav-item"><a asp-route-id="@academico" asp-controller="AcademicosDatosGenerales" asp-action="EditarDG" class="nav-link">Datos generales</a></li>
                        <li class="nav-item"><a asp-route-id="@academico" asp-controller="AcademicosDatosGenerales" asp-action="EditarGA" class="nav-link active">Grados académicos</a></li>
                        <li class="nav-item"><a asp-route-id="@academico" asp-controller="AcademicosDatosGenerales" asp-action="EditarCertificaciones" class="nav-link">Certificaciones</a></li>
                        <li class="nav-item"><a asp-route-id="@academico" asp-controller="AcademicosDatosGenerales" asp-action="EditarCD" class="nav-link">Cursos/Diplomados</a></li>
                        <li class="nav-item"><a asp-route-id="@academico" asp-controller="AcademicosDatosGenerales" asp-action="EditarEP" class="nav-link">Experiencia profesional</a></li>
                        <li class="nav-item"><a asp-route-id="@academico" asp-controller="AcademicosDatosGenerales" asp-action="EditarTC" class="nav-link">Tipo de contratación</a></li>
                        <li class="nav-item"><a asp-route-id="@academico" asp-controller="AcademicosDatosGenerales" asp-action="EditarDistinciones" class="nav-link">Reconocimientos académicos</a></li>
                    </ul>
                </div>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active fontawesome-demo" id="tab1">
                        <form asp-controller="AcademicosDatosGenerales" asp-action="GuardarFormTablaGA" method="post" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <input asp-for="IdAcademico" type="hidden" value="@academico">
                                    <div class="form-group">
                                        <label>Nombre del titulo</label>
                                        <select asp-for="IdNombreTitulo" class="form-control">
                                            @foreach (var item in NombreTitulo)
                                            {
                                                <option value="@item.IdNombreTitulo">@Html.DisplayFor(modelItem => item.Nombre)</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>IES</label>
                                        <select asp-for="IdInstitucion" class="form-control">
                                            @foreach (var item in ies)
                                            {
                                                <option value="@item.IdIE">@Html.DisplayFor(modelItem => item.Nombre)</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Grado obtenido</label>
                                        <select asp-for="IdGradoTitulo" class="form-control">
                                            @foreach (var item in GradoTitulo)
                                            {
                                                <option value="@item.IdGradoTitulo">@Html.DisplayFor(modelItem => item.Nombre)</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        Fecha de egreso
                                        <input name="FechaDeEgreso" asp-for="FechaDeEgreso" id="fechaegreso" type="date" class="form-control">
                                        <br>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">

                                    <div class="form-group">
                                        Fecha de titulación
                                        <input asp-for="FechaDeTitulacion" name="FechaDeTitulacion" id="fechatitulacion" type="date" class="form-control">
                                        <br>
                                    </div>
                                    <div class="form-group">
                                        <label>Reconocimiento</label>
                                        <input asp-for="AcrePnpc" type="radio" value="0"> Ninguno <br>
                                        <input asp-for="AcrePnpc" type="radio" value="1"> Acreditado <br>
                                        <input asp-for="AcrePnpc" type="radio" value="2"> PNPC
                                    </div>
                                    <label>Subir titulo</label><br>
                                    <input asp-for="ArchivoTitulo" type="file" class="default" name="file">
                                    <br>
                                    <label>Subir cedula</label><br>
                                    <input asp-for="ArchivoCedula" type="file" class="default" name="file">
                                    <br>
                                    <br>
                                    <input type="submit" value="Guardar" class="btn btn-success btn-sm m-b-10" style="float:right">
                                    <br>
                                    <br>
                                    <a asp-route-id="@academico" asp-controller="AcademicosDatosGenerales" asp-action="EditarGA" type="button" class="btn btn-success btn-sm m-b-10" style="float:right">
                                        Cancelar
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

