
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Home/Principal.cshtml";
    var aca = (IEnumerable<pAcademicos>)ViewData["academicos"];
    int tipo = (int)ViewData["tipo"];
}

<!DOCTYPE html>

<html>
<div class="row">
    <div class="col-md-12">
        <div class="card card-topline-green">
            <div class="card-head">
                <header>ACADÉMICOS</header>
                <div class="tools">
                    <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                    <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                    <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                </div>
            </div>
            <div class="card-body ">
                <div class="row p-b-20">
                    @if (tipo == 1) { 
                    <div class="col-md-6 col-sm-6 col-6">
                        <div class="btn-group">
                            <a asp-controller="AcademicosDatosGenerales" asp-action="CrearDG" id="agregar" class="btn btn-success btn-sm m-b-10">
                                Agregar <i class="fa fa-plus" style="color: white"></i>
                            </a>
                        </div>
                    </div>
                    }
                    
                </div>

                <table class="table table-striped table-bordered table-hover table-checkable order-column " style="width: 100%" id="tabla_academicos">


                    <thead>
                        <tr>

                            <th class="center"> Nombre </th>
                            <th class="center"> A. Paterno </th>
                            <th class="center"> A. Materno </th>
                            <th class="center"> Número de Personal </th>
                            <th class="center"> Carrera </th>
                            <th class="center"> Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in aca)
                        {
                            <tr class="odd gradeX" id="">
                                <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                                <td>@Html.DisplayFor(modelItem => item.ApellidoPaterno)</td>
                                <td>@Html.DisplayFor(modelItem => item.ApellidoMaterno)</td>
                                <td>@Html.DisplayFor(modelItem => item.NumeroPersonal)</td>
                                <td>@Html.DisplayFor(modelItem => item.ProgramaEducativo)</td>
                                <td class="center">
                                    <a asp-route-id="@item.IdAcademicos" asp-controller="AcademicosDatosGenerales" asp-action="DetallesDG" title="Detalles" class="btn btn-success btn-xs verdatos">
                                        <i class="fa fa-check"></i>
                                    </a>
                                    <a asp-route-id="@item.IdAcademicos" asp-controller="AcademicosDatosGenerales" asp-action="EditarDG" title="Editar" class="btn btn-primary btn-xs verdatos">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    @if (tipo == 1)
                                    {<a data-value="@item.IdAcademicos" data-controlador="AcademicosDatosGenerales" data-accion="EliminarAcademico" data-regreso="Index" name="eliminardato" class="btn btn-danger btn-xs" title="Eliminar">
                                            <i class="fa fa-trash-o "></i>
                                     </a>}
                                    </td>
                            </tr>
                        }
                        </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</html>
