@model SGCFIEE.Models.Certificaciones;
@{
    ViewData["Title"] = "TablaCertificaciones";
    Layout = "~/Views/Home/Principal.cshtml";
    var tc = (IEnumerable<TipoCertificacion>)ViewData["tc"];
    var certificaciones = (IEnumerable<pCertificaciones>)ViewData["cer"];
    var academico = (int) ViewData["academico"];
}

<html>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="card card-box">
            <div class="card-topline-green card-head">
                <header>Certificaciones</header>
            </div>
            <div class="card-body " id="bar-parent2">
                <form asp-controller="AcademicosDatosGenerales" asp-action="GuardarTablaCertificaciones" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <input asp-for="IdAcademico" type="hidden" value="@academico">
                            <div class="form-group">
                                <label>Tipo de certificación</label>
                                <select id="tipo_certificacion" asp-for="IdTipoCertificacion" class="form-control">
                                    @foreach (var item in tc)
                                    {
                                        <option value="@item.IdCertificacion">@Html.DisplayFor(modelItem => item.Nombre)</option>
                                    }

                                </select>
                                <input type="checkbox" id="select"> <label>Agregar otro tipo</label>

                                <div class="form-group" id="div_agregar">
                                    <input type="text" id="agregar" name="nuevoTC" class="form-control" placeholder="Ingresar...">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label>Nombre de la certificación</label>
                                <input asp-for="Nombre" type="text" class="form-control" placeholder="Ingresar...">
                            </div>
                            
                            Archivo de evidencia<br>
                            <input asp-for="Archivo" type="file" class="default" name="file">
                            <br>
                            <input id="guardarcertificacion" type="submit" value="Guardar" class="btn btn-success btn-sm m-b-10" style="float:right">
                            <br>
                            <br>
                            <a asp-route-id="@academico" asp-controller="AcademicosDatosGenerales" asp-action="TablaCD" class="btn btn-success btn-sm m-b-10" style="float:right">
                                Siguiente
                            </a>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="table-scrollable">
                            <table class="mdl-data-table ml-table-bordered mdl-js-data-table mdl-data-table--selectable is-upgraded" data-upgraded=",MaterialDataTable" id="tablaCertifi">
                                <thead>
                                    <tr>
                                        <th hidden></th>
                                        <th class="mdl-data-table__cell--non-numeric">Nombre</th>
                                        <th class="mdl-data-table__cell--non-numeric">Tipo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in certificaciones){
                                        <tr>
                                            <td hidden></td>
                                            <td class="mdl-data-table__cell--non-numeric">@Html.DisplayFor(modelItem => item.Nombre)</td>
                                            <td class="mdl-data-table__cell--non-numeric">@Html.DisplayFor(modelItem => item.TipoCertificacion)</td>
                                        </tr>
                                    }
                                    </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
