@model SGCFIEE.Models.ManualesPractica;
@{
    ViewData["Title"] = "EditarMPractica";
    Layout = "~/Views/Home/Principal.cshtml";
    var acad = (IEnumerable<Academicos>)ViewData["academicos"];
    var perio = (IEnumerable<TipoPeriodo>)ViewData["periodos"];
    var tipo = (int)ViewData["tipo"];
}
<!DOCTYPE html>

<html>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="card card-box">
                <div class="card-topline-green card-head">
                    <header>MANUAL DE PRACTICA</header>        
                </div>
                <div class="card-body " id="bar-parent2">
                    <form asp-controller="AcademicosProduccion" asp-action="ActualizarMPractica" method="post" enctype="multipart/form-data">
                        <div class="row">
                            <input type="hidden" asp-for="IdMaterialesPractica"/>
                            <div class="col-md-6 col-md-6">
                                @if (tipo == 1)
                                {
                                <div class="form-group">
                                    <label>Académico</label>
                                    <select asp-for="IdAcademico" class="form-control">
                                        @foreach (var item in acad)
                                        {
                                            @if (item.IdAcademicos != Model.IdAcademico)
                                            {
                                                <option value="@item.IdAcademicos">@Html.DisplayFor(modelItem => item.Nombre) @Html.DisplayFor(modelItem => item.ApellidoPaterno) @Html.DisplayFor(modelItem => item.ApellidoMaterno)</option>
                                            }
                                            else
                                            {
                                                <option selected value="@item.IdAcademicos">@Html.DisplayFor(modelItem => item.Nombre) @Html.DisplayFor(modelItem => item.ApellidoPaterno) @Html.DisplayFor(modelItem => item.ApellidoMaterno)</option>
                                            }
                                        }
                                    </select>
                                </div>
                                }
                                <div class="form-group">
                                    <label>Periodo</label>
                                    <select asp-for="IdPeriodo" class="form-control">
                                        @foreach (var item in perio)
                                        {
                                            @if (item.IdPeriodo != Model.IdPeriodo)
                                            {
                                                <option value="@item.IdPeriodo">@Html.DisplayFor(modelItem => item.Nombre)</option>
                                            }
                                            else
                                            {
                                                <option selected value="@item.IdPeriodo">@Html.DisplayFor(modelItem => item.Nombre)</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 col-md-6">  
                                <div class="form-group">
                                    <label>Nombre del manual de practica</label>
                                    <input asp-for="Nombre" type="text" placeholder="Ingresar..." class="form-control" value=@Model.Nombre required="required">
                                    <span asp-validation-for="Nombre" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label>Actualizar evidencia:  @Model.Archivo</label><br>
                                    <input type="file" class="default" id="archivo" name="file">
                                </div>
                                <br>
                                <button type="submit" class="btn btn-success btn-sm m-b-10" name="Guardar" style="float:right">
                                    Guardar
                                </button>
                                <a asp-controller="AcademicosProduccion" asp-action="IndexMPractica" class="btn btn-default btn-sm m-b-10" style="float:right">
                                Cancelar
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</html>