@model SGCFIEE.Models.MateriaDidactico;
@{
    ViewData["Title"] = "EditarMaterialDidactico";
    Layout = "~/Views/Home/Principal.cshtml";
    var acad = (IEnumerable<Academicos>)ViewData["academicos"];
    var perio = (IEnumerable<TipoPeriodo>)ViewData["periodos"];
    var tipo = (int)ViewData["tipo"];
}
<!DOCTYPE html>

<html>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="card card-box">
                <div class="card-topline-green card-head">
                    <header>MATERIAL DIDACTICO</header>        
                </div>
                <div class="card-body " id="bar-parent2">
                    <form asp-controller="AcademicosProduccion" asp-action="ActualizarMaterialDidactico" method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-6 col-md-6">
                                <input type="hidden" asp-for="IdMateriaDidactico"/>
                                @if (tipo == 1)
                                {
                                <div class="form-group">
                                    <label>Académico</label>
                                    <select asp-for="IdAcademico" class="form-control">
                                        @foreach (var item in acad)
                                        {
                                            @if (item.IdAcademicos != Model.IdAcademico)
                                            {
                                                <option value="@item.IdAcademicos">@Html.DisplayFor(modelItem => item.Nombre) @Html.DisplayFor(modelItem => item.ApellidoPaterno) @Html.DisplayFor(modelItem => item.ApellidoMaterno)</option>
                                            }
                                            else
                                            {
                                                <option selected value="@item.IdAcademicos">@Html.DisplayFor(modelItem => item.Nombre) @Html.DisplayFor(modelItem => item.ApellidoPaterno) @Html.DisplayFor(modelItem => item.ApellidoMaterno)</option>
                                            }
                                        }
                                    </select>
                                </div>
                                }
                                <div class="form-group">
                                    <label>Periodo</label>
                                    <select asp-for="IdPeriodo" class="form-control">
                                        @foreach (var item in perio)
                                        {
                                            @if (item.IdPeriodo != Model.IdPeriodo)
                                            {
                                                <option value="@item.IdPeriodo">@Html.DisplayFor(modelItem => item.Nombre)</option>
                                            }
                                            else
                                            {
                                                <option selected value="@item.IdPeriodo">@Html.DisplayFor(modelItem => item.Nombre)</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="form-group">
                                    Notas de clase:<br>
                                    <input asp-for="NotasClase" type="radio" value="1" if (Model.NotasClase == 1) {checked } /> Si<br>
                                    <input asp-for="NotasClase" type="radio" value="0" if (Model.NotasClase == 0) {checked } /> No
                                </div>
                                <div class="form-group">
                                    Acetatos:<br>
                                    <input asp-for="Acetatos" type="radio" value="1" if (Model.Acetatos == 1) {checked } /> Si<br>
                                    <input asp-for="Acetatos" type="radio" value="0" if (Model.Acetatos == 0) {checked }/> No
                                </div>
                            </div>
                            <div class="col-md-6 col-md-6">  
                                <div class="form-group">
                                    Videos:<br>
                                    <input asp-for="Videos" type="radio" value="1" if (Model.Acetatos == 1) {checked }/> Si<br>
                                    <input asp-for="Videos" type="radio" value="0" if (Model.Acetatos == 0) {checked }/> No
                                </div>
                                <div class="form-group">
                                    Programas:<br>
                                    <input asp-for="Programas" type="radio" value="1" if (Model.Acetatos == 1) {checked }/> Si<br>
                                    <input asp-for="Programas" type="radio" value="0" if (Model.Acetatos == 0) {checked }/> No
                                </div>
                                <div class="form-group">
                                    Prototipos:<br>
                                    <input asp-for="Prototipos" type="radio" value="1" if (Model.Acetatos == 1) {checked }/> Si<br>
                                    <input asp-for="Prototipos" type="radio" value="0" if (Model.Acetatos == 0) {checked }/> No
                                </div>
                                <div class="form-group">
                                    <label>Actualizar evidencia:  @Model.Acta</label><br>
                                    <input type="file" class="default" id="archivo" name="file">
                                </div>
                                <br>
                                <button type="submit" class="btn btn-success btn-sm m-b-10" name="Guardar" style="float:right">
                                    Guardar
                                </button>
                                <a asp-controller="AcademicosProduccion" asp-action="IndexMaterialDidactico" class="btn btn-default btn-sm m-b-10" style="float:right">
                                Cancelar
                                </a>
                            </div>
                            
                        </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</html>
