@model IEnumerable<SGCFIEE.Models.TablaLibroEE>
@{
    ViewData["Title"] = "IndexLibroEE";
    Layout = "~/Views/Home/Principal.cshtml";
}

<script src="~/assets/js/pages/table/table_data.js"></script>
<script src="~/assets/plugins/sweet-alert/sweetalert.min.js"></script>
<script src="~/assets/js/pages/sweet-alert/sweet-alert-data.js"></script>


<!DOCTYPE html>
<html lang="en">
<div class="row">
    @if (TempData["msg"] != null)
    {
        @Html.Raw(TempData["msg"])
    }
    <div class="col-md-12 col-sm-12">
        <div class="card card-box">
            <div class="card-topline-green card-head">
                <header>PRODUCCIÓN</header>
            </div>
            <div class="white-box">
                <!-- Nav tabs -->
                <div class="p-rl-20">
                    <ul class="nav customtab nav-tabs" role="tablist">
                        <li class="nav-item"><a asp-controller="AcademicosProduccion" asp-action="IndexMaterialDidactico" class="nav-link">Material didactico</a></li>
                        <li class="nav-item"><a asp-controller="AcademicosProduccion" asp-action="IndexMPractica" class="nav-link">Manuales de practica</a></li>
                        <li class="nav-item"><a asp-controller="AcademicosProduccion" asp-action="IndexLibroEE" class="nav-link   active">Libros para una EE</a></li>
                        <li class="nav-item"><a asp-controller="AcademicosProduccion" asp-action="IndexProyectosE" class="nav-link">Proyecto educativo innovador</a></li>
                    </ul>
                </div>
                <!-- Tab panes -->
                <div class="tab-content">

                    <div class="tab-pane active" id="tab3">
                        <div id="tabla_LibrosEE">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card-body ">
                                        <div class="row p-b-20">
                                            <div class="col-md-6 col-sm-6 col-6">
                                                <div class="btn-group">
                                                    <a asp-controller="AcademicosProduccion" asp-action="CrearLibroEE" class="btn btn-success btn-sm m-b-10">
                                                        Agregar <i class="fa fa-plus" style="color:white"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="table-scrollable">
                                            <table class="table table-striped table-bordered table-hover table-checkable order-column" style="width: 100%" id="LibroEE">
                                                <thead>
                                                    <tr>
                                                        <th hidden></th>
                                                        <th class="center"> Número de personal </th>
                                                        <th class="center"> Nombre del académico</th>
                                                        <th class="center"> Nombre del libro para una EE </th>
                                                        <th class="center"> Periodo </th>
                                                        <th class="center"> Evidencia </th>
                                                        <th class="center"> Acción </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model)
                                                    {
                                                        <tr class="odd gradeX">
                                                            <td hidden></td>
                                                            <td>@Html.DisplayFor(modelItem => item.NumPersonal)</td>
                                                            <td>@Html.DisplayFor(modelItem => item.Nombre) @Html.DisplayFor(modelItem => item.ApellidoPaterno) @Html.DisplayFor(modelItem => item.ApellidoMaterno)</td>
                                                            <td>@Html.DisplayFor(modelItem => item.NombreLibro)</td>
                                                            <td>@Html.DisplayFor(modelItem => item.Periodo)</td>
                                                            <td class="center">
                                                                <a asp-route-filename="@item.Archivo" asp-controller="AcademicosProduccion" asp-action="DescargarLibroEE" class="btn btn-primary btn-xs" title="Descargar evidencia">
                                                                    <i class="fa fa-download"></i>
                                                                </a>
                                                            </td>
                                                            <td class="center">
                                                                <a asp-route-id="@item.IdLibroEE" asp-controller="AcademicosProduccion" asp-action="EditarLibroEE" class="btn btn-primary btn-xs" title="Editar">
                                                                    <i class="fa fa-pencil"></i>
                                                                </a>
                                                                <a data-value="@item.IdLibroEE" data-controlador="AcademicosProduccion" data-accion="EliminarLibroEE" data-regreso="IndexLibroEE" name="eliminardato" class="btn btn-danger btn-xs" title="Eliminar">
                                                                    <i class="fa fa-trash-o "></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</html>

