@model SGCFIEE.Models.Concursos;
@{
    ViewData["Title"] = "CrearConcursos";
    Layout = "~/Views/Home/Principal.cshtml";
    var acad = (IEnumerable<Academicos>)ViewData["academicos"];
    var lugar = (IEnumerable<TipoLocNacInter>)ViewData["lugar"];
}
<!DOCTYPE html>

<html>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="card card-box">
                <div class="card-topline-green card-head">
                    <header>CONCURSO</header>        
                </div>
                <div class="card-body " id="bar-parent2">
                    <form asp-controller="AcademicosPublicaciones" asp-action="GuardarConcursos" method="post" enctype="multipart/form-data"> 
                    <div class="row">
                        <div class="col-md-6 col-md-6">

                            <div class="form-group">
                                <label>Académico</label>
                                <select name="idAcademico" class="form-control">
                                    @foreach (var item in acad)
                                    {
                                        <option value="@item.IdAcademicos">@Html.DisplayFor(modelItem => item.Nombre) @Html.DisplayFor(modelItem => item.ApellidoPaterno) @Html.DisplayFor(modelItem => item.ApellidoMaterno)</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Tipo</label>
                                <select asp-for="IdNacInter" class="form-control">
                                    @foreach (var item in lugar)
                                    {
                                        <option value="@item.IdTipo">@Html.DisplayFor(modelItem => item.Nombre)</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 col-md-6">
                            <div class="form-group">
                                <label>Nombre del concurso</label>
                                <input asp-for="Nombre" type="text" class="form-control" placeholder="Ingresar..." required="required">
                                <span asp-validation-for="Nombre" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label>Subir evidencia:</label><br>
                                <input asp-for="Archivo" type="file" class="default" id="archivo" name="file" required="required">
                            </div>
                            <br>
                            <button type="submit" class="btn btn-success btn-sm m-b-10" name="Guardar" style="float:right">
                                Guardar
                            </button>
                            <a asp-controller="AcademicosPublicaciones" asp-action="IndexConcursos" class="btn btn-default btn-sm m-b-10" style="float:right">
                            Cancelar
                            </a>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</html>
