@model SGCFIEE.Models.TrabajosRecepcionales;
@{
    ViewData["Title"] = "CrearTrabajosRecep";
    Layout = "~/Views/Home/Principal.cshtml";
    var acad = (IEnumerable<Academicos>)ViewData["academicos"];
    var academia = (IEnumerable<Academias>)ViewData["academia"];
    var alum = (IEnumerable<DatosPersonales>)ViewData["alumnos"];
    var grados = (IEnumerable<GradoTitulo>)ViewData["grados"];
    var modalidad = (IEnumerable<TipoModalidad>)ViewData["modalidad"];
}
<!DOCTYPE html>

<script>
    function mostrar() {
        if (document.trabajos.Proceso[1].checked == true) {
            document.getElementById('fecha').style.display = 'block';
            
        } else {
            document.getElementById('fecha').style.display='none';
        }
    }
</script>

<html>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="card card-box">
                <div class="card-topline-green card-head">
                    <header>DIRECCIONES DE TRABAJOS RECEPCIONALES</header>        
                </div>
                <div class="card-body " id="bar-parent2">
                    <form asp-controller="AcademicosPublicaciones" asp-action="GuardarTrabajosRecep" method="post" enctype="multipart/form-data" name="trabajos"> 
                        <div class="row">
                            <div class="col-md-6 col-md-6">

                                <div class="form-group">
                                    <label>Académico</label>
                                    <select name="idAcademico" class="form-control">
                                        @foreach (var item in acad)
                                        {
                                            <option value="@item.IdAcademicos">@Html.DisplayFor(modelItem => item.Nombre) @Html.DisplayFor(modelItem => item.ApellidoPaterno) @Html.DisplayFor(modelItem => item.ApellidoMaterno)</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Modalidad</label>
                                    <select asp-for="IdModalidad" class="form-control">
                                        @foreach (var item in modalidad)
                                        {
                                            <option value="@item.IdModalidad">@Html.DisplayFor(modelItem => item.Nombre)</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Nombre del trabajo</label>
                                    <input asp-for="NombreTrabajo" type="text" class="form-control" placeholder="Ingresar..." required="required">
                                    <span asp-validation-for="NombreTrabajo" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label>Nombre del alumno</label>
                                    <select asp-for="IdAlumno" class="form-control">
                                        @foreach (var item in alum)
                                        {
                                            <option value="@item.IdDatosPersonales">@Html.DisplayFor(modelItem => item.Nombre) @Html.DisplayFor(modelItem => item.ApellidoPaterno) @Html.DisplayFor(modelItem => item.ApellidoMaterno)</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Academia que revisó</label>
                                    <select asp-for="IdAcademia" class="form-control">
                                        @foreach (var item in academia)
                                        {
                                            <option value="@item.IdAcademias">@Html.DisplayFor(modelItem => item.Nombre )</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 col-md-6">
                                
                                <div class="form-group">
                                    <label>Numero de CT</label>
                                    <input asp-for="NumeroConsejoT" type="number" class="form-control" placeholder="Ingresar..." required="required">
                                    <span asp-validation-for="NumeroConsejoT" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label>Grado</label>
                                    <select asp-for="IdGrado" class="form-control">
                                        @foreach (var item in grados)
                                        {
                                            <option value="@item.IdGradoTitulo">@Html.DisplayFor(modelItem => item.Nombre)</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group">
                                    Estado:<br>
                                    <input asp-for="Proceso" type="radio" name="Proceso" id="status_1" value="0" onclick="mostrar()" checked/> En proceso<br>
                                    <input asp-for="Proceso" type="radio" name="Proceso" id="status_0" value="1" onclick="mostrar()"/> Fecha de presentación
                                </div>
                                <div class="form-group" style="display:none" id="fecha">
                                    <label>Fecha de presentación</label>
                                    <input asp-for="FechaPresentacion" type="date" class="form-control" placeholder="mm/dd/aa">
                                    <span asp-validation-for="FechaPresentacion" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                   <label>Subir evidencia:</label><br>
                                    <input asp-for="Archivo" type="file" class="default" id="archivo" name="file" required="required">
                                </div>
                                <br>
                                <button type="submit" class="btn btn-success btn-sm m-b-10" name="Guardar" style="float:right">
                                    Guardar
                                </button>
                                <a asp-controller="AcademicosPublicaciones" asp-action="IndexTrabajoRecep" class="btn btn-default btn-sm m-b-10" style="float:right">
                                Cancelar
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</html>
