@model  IEnumerable<SGCFIEE.Models.TablaTrabajosRecep>

@{
    ViewData["Title"] = "IndexTrabajosRecep";
    Layout = "~/Views/Home/Principal.cshtml";
}

<!DOCTYPE html>
<html>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="card card-box">
                <div class="card-topline-green card-head">
                    <header>PUBLICACIONES</header>
                </div>
                <div class="white-box">
                    <!-- Nav tabs -->
                    <div class="p-rl-20">
                        <ul class="nav customtab nav-tabs" role="tablist">
                            <li class="nav-item"><a asp-controller="AcademicosPublicaciones" asp-action="IndexArticulos" class="nav-link">Artículos</a></li>
                            <li class="nav-item"><a asp-controller="AcademicosPublicaciones" asp-action="IndexCongresos" class="nav-link">Congresos</a></li>
                            <li class="nav-item"><a asp-controller="AcademicosPublicaciones" asp-action="IndexRevistas" class="nav-link">Revistas</a></li>
                            <li class="nav-item"><a asp-controller="AcademicosPublicaciones" asp-action="IndexReportesTecnicos" class="nav-link">Reportes técnicos</a></li>
                            <li class="nav-item"><a asp-controller="AcademicosPublicaciones" asp-action="IndexLibros" class="nav-link">Libros</a></li>
                            <li class="nav-item"><a asp-controller="AcademicosPublicaciones" asp-action="IndexCapitulos" class="nav-link">Capítulos de libros</a></li>
                            <li class="nav-item"><a asp-controller="AcademicosPublicaciones" asp-action="IndexPatentes" class="nav-link">Patentes</a></li>
                            <li class="nav-item"><a asp-controller="AcademicosPublicaciones" asp-action="IndexTrabajoRecep" class="nav-link active">Direcciones de trabajos recepcionales</a></li>
                            <li class="nav-item"><a asp-controller="AcademicosPublicaciones" asp-action="IndexConcursos" class="nav-link">Concursos</a></li>
                        </ul>
                    </div>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        
                        <div class="tab-pane active" id="tab8">            
                            <div id="Direcciones_trabajos_recepcionales">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card-body ">
                                            <div class="row p-b-20">
                                                <div class="col-md-6 col-sm-6 col-6">
                                                    <div class="btn-group">
                                                        <a asp-controller="AcademicosPublicaciones" asp-action="CrearTrabajosRecep" class="btn btn-success btn-sm m-b-10">
                                                            Agregar <i class="fa fa-plus" style="color:white"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="table-scrollable">
                                                <table class="table table-striped table-bordered table-hover table-checkable order-column"  style="width: 100%" id="TablaTrabajos" >
                                                    <thead>
                                                        <tr>
                                                            <th class="center"> Número de personal</th>
                                                            <th class="center"> Nombre<br>del<br>académico</th>
                                                            <th class="center"> Modalidad</th>
                                                            <th class="center"> Nombre del trabajo</th>
                                                            <th class="center"> Nombre del alumno</th>
                                                            <th class="center"> Academia que revisó</th>
                                                            <th class="center"> Grado</th>
                                                            <th class="center"> Número de CT</th>
                                                            <th class="center"> Estatus</th>
                                                            <th class="center"> Fecha de presentación<br>(aa/mm/dd)</th>
                                                            <th class="center"> Evidencia</th>
                                                            <th class="center"> Acción</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var item in Model)
                                                        {
                                                            <tr class="odd gradeX">
                                                                <td>@Html.DisplayFor(modelItem => item.NumPersonal)</td>
                                                                <td>@Html.DisplayFor(modelItem => item.Nombre) @Html.DisplayFor(modelItem => item.ApellidoPaterno) @Html.DisplayFor(modelItem => item.ApellidoMaterno)</td>
                                                                <td class="center">@Html.DisplayFor(modelItem => item.Modalidad)</td>
                                                                <td class="center">@Html.DisplayFor(modelItem => item.NombreTrabajo)</td>
                                                                <td class="center">@Html.DisplayFor(modelItem => item.NombreAlum) @Html.DisplayFor(modelItem => item.ApellidoPaternoAlum) @Html.DisplayFor(modelItem => item.ApellidoMaternoAlum)</td>
                                                                <td class="center">@Html.DisplayFor(modelItem => item.Academia)</td>
                                                                <td class="center">@Html.DisplayFor(modelItem => item.Grado)</td>
                                                                <td class="center">@Html.DisplayFor(modelItem => item.NumCT)</td>
                                                                <td class="center">
                                                                    @if (item.Proceso == 1)
                                                                    { <div>Fecha de presentación</div> }
                                                                    @if (item.Proceso == 0)
                                                                    { <div>En proceso </div>}
                                                                </td>
                                                                <td class="center">
                                                                    @if (item.Fecha != null)
                                                                        
                                                                    { <div>@Html.DisplayFor(modelItem => item.Fecha)</div> }
                                                                    @if (item.Fecha == null)
                                                                    { <div>-</div>}
                                                                </td>
                                                                <td class="center">
                                                                    <a asp-route-filename="@item.Archivo" asp-controller="AcademicosPublicaciones" asp-action="DescargarTrabajosRecep" class="btn btn-primary btn-xs" title="Descargar evidencia">
                                                                        <i class="fa fa-download"></i>
                                                                    </a>
                                                                </td>
                                                                <td class="center">
                                                                    <a asp-route-id="@item.IdTrabajos" asp-controller="AcademicosPublicaciones" asp-action="EditarTrabajosRecep" class="btn btn-primary btn-xs" title="Editar">
                                                                        <i class="fa fa-pencil"></i>
                                                                    </a>
                                                                    <a data-value="@item.IdTrabajos" data-controlador="AcademicosPublicaciones" data-accion="EliminarTrabajosRecep" data-regreso="IndexTrabajoRecep" name="eliminardato" class="btn btn-danger btn-xs" title="Eliminar">
                                                                        <i class="fa fa-trash-o "></i>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>    
    </div>
</html>

<script src="~/assets/js/pages/table/table_data.js"></script>